{% load static %}
{% load to_and %}

<!DOCTYPE HTML>
<html>
	<head>
		<!--jaco analytics-->
	<script type="text/javascript">
	(function(e,r){function n(e,r){e[r]=function(){e.push([r].concat(Array.prototype.slice.call(arguments,0)))}}function o(){var e=r.location.hostname.match(/[a-z0-9][a-z0-9\-]+\.[a-z\.]{2,6}$/i),n=e?e[0]:null,o="; domain=."+n+"; path=/; expires=" + new Date(new Date().setFullYear(new Date().getFullYear() + 1)).toUTCString();r.cookie=r.referrer&&-1===r.referrer.indexOf(n)?"jaco_referer="+r.referrer+o:"jaco_referer="+t+o}var a="JacoRecorder",t="none";!function(e,r,t,i){if(!t.__VERSION){e[a]=t;for(var c=["init","identify","startRecording","stopRecording","removeUserTracking","setUserInfo","trackEvent"],s=0;s<c.length;s++)n(t,c[s]);o(),t.__VERSION=2.1,t.__INIT_TIME=1*new Date;var f=r.createElement("script");f.async=!0,f.setAttribute("crossorigin","anonymous"),f.src=i;var d=r.getElementsByTagName("head")[0];d.appendChild(f)}}(e,r,e[a]||[],"https://recorder-assets.getjaco.com/recorder_v2.js")}).call(window,window,document);
	window.JacoRecorder.init("c32274dd-8004-47f3-bce9-e789045967bb");
	</script>


	<!--google analytics-->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-99115644-1', 'auto');
	  ga('send', 'pageview');
	</script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
           <link rel="icon" type="image/png" href="{{ MEDIA_URL }}{{toplogo}}">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{pagetitle}}</title>
	<meta name="description" content="{{metada_description}}" />
	<meta name="keywords" content="{{metadata_keywords}}" />
	<meta name="author" content="{{metadata_author}}" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
	<!--          href="{% static "css/.css" %}"	                 -->
	<!--          src="{% static "js/.js" %}"	               -->
		<!--               {% static "ic_action_name.jpg" %}                   -->


	<link rel="stylesheet" href="{% static "css/animate.css" %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static "css/icomoon.css" %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" >

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}" >

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}"	>
	<link rel="stylesheet"href="{% static "css/owl.theme.default.min.css" %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static "css/style.css" %}">

	<!-- Modernizr JS -->
	<script src="{% static "js/modernizr262min.js" %}"></script>

	<script   src="{% static "js/respond.min.js" %}"></script>

	<meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no" />
	<style>
	body
	{
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		overflow-x: hidden;
	}
	</style>

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">


	<nav class="fh5co-nav"  role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right" >
						<ul class="fh5co-social list-inline" style="margin-right:12px">
							<li style="color:#444444;font-size:13px;margin-right:20px"><img src="{{MEDIA_URL}}{{f_nav_phone}}" style="color:green;height:15px;width:15px;padding:2px"/> {{freegcontact}}</li>
							<li style="color:#444444;font-size:13px"><img src="{{MEDIA_URL}}{{f_nav_email}}" style="color:green;height:15px;width:15px;padding:2px;margin-right:2px"/>{{emailid}}</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row ">
					<div class="col-sm-3">
                        <div class="row">
							<a href="/">
									<div class="hidden-md hidden-lg col-xs-2 col-sm-2"></div>
<img class ="col-sm-7 col-cs-7 col-md-10 hidden-xs hidden-sm" src= "{{ MEDIA_URL }}{{freeglogo}}"  alt="FreeG Wi-Fi" style="margin-top:4px" height="34" width="174">
                        			<img class ="col-sm-7 col-cs-7 col-md-10 hidden-md hidden-lg" src= "{{ MEDIA_URL }}{{freeglogo}}"  alt="FreeG Wi-Fi" style="margin-top:4px" height="26" width="160">
                        	</a>
						</div>
					</div>
					<div class="col-sm-9 text-right menu-1">
						<ul>
							<li ><a href="/" style="color:#009245;font-size:20px">Home</a></li>
							<li class="has-dropdown">
								<a href="#" style="color:#009245;font-size:20px" >Categories</a>

								<ul class="dropdown" style="width:360px !important">
                                    {% for singlecategory in freegcategory%}
										{% if singlecategory.title == "More Categories" %}
                                        <li><a href="/morecategory" style="font-size:18px">{{singlecategory.title}}</a></li>

										{% else %}
                                        <li><a href="/category/{{singlecategory.title|to_and}}/" style="font-size:18px">{{singlecategory.title}}</a></li>

										{% endif %}
                                    {% endfor %}
                                </ul>
							</li>


							<li class="has-dropdown" >
								<a href="#" style="color:#009245;font-size:20px">Resources</a>
								<ul class="dropdown" style="width:180px !important">
                                    <li><a href="/blog/" style="font-size:20px">Blogs</a></li>
									<li><a href="/casestudy/" style="font-size:20px">Case Studies</a></li>
                                </ul>
							</li>

                            <li class="has-dropdown" >
								<a href="#" style="color:#009245;font-size:20px">Company</a>
								<ul class="dropdown" style="width:160px !important">
                                    <li><a href="/aboutus/" style="font-size:20px">About Us</a></li>
									<li><a href="/team/" style="font-size:20px">Team</a></li>
									<li><a href="/career/" style="font-size:20px">Careers</a></li>
                                </ul>
							</li>

							<li ><a href="/contact" style="color:#009245; font-size:20px">Contact</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav>



	<header id="fh5co-header" style="background-image:url({{ MEDIA_URL }}{{bgimage}});background-repeat: no-repeat;" class="fh5co-cover fh5co-cover-sm" role="banner" >
		<div class="overlay" ></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Blogs</h1>
							<!--<h2>Free html5 templates Made by <a href="http://freehtml5.co" target="_blank">freehtml5.co</a></h2>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>



        <div id="fh5co-blog" style="background-color:#F4F0EF">
		<div class="container">
			<div class="row">


				<div class="col-lg-4 col-md-4 well" style="background-color:#fff">
					<a href="#"><img class="img-responsive" src="{{blog2image}}" style="height:240px" alt=""></a>
					<div style="background-color:#fff;padding:16px">
                        <br>
						<h3 style="color:#fff !important"><a href="/singleblog2/" style="color:#009245 !important;font-weight:400">5 key learning from Google’s free wi-fi project at India’s railway stations</a></h3>
						<span class="posted_on">June 22, 2016</span>
						<p>We just celebrated World WiFi Day on 20th June, 2016 with our new iconic township wifi project in Bangalore and the timely update on Google’s free wifi....</p>
						<a href="/singleblog2/" style="background-color:#009245 !important ;border:none" class="btn btn-primary">Read More</a>
					</div>
				</div>


                <div class="col-lg-4 col-md-4 well" style="background-color:#fff">
					<a href="#"><img class="img-responsive" src="{{blog3image}}" style="height:240px" alt=""></a>
					<div style="background-color:#fff;padding:16px">
                        <br>
						<h3 style="color:#fff !important"><a href="/singleblog3/" style="color:#009245 !important;font-weight:400">My advice to restaurants owners on data security</a></h3>
						<span class="posted_on">Feb 21, 2016</span>
						<p>Restaurant industry is one of the favorite targets for cyber hackers as it involves millions of credit/debit card details yet follows minimal data security standards. According to Verizon’s “2015 Data ...</p>
						<a href="/singleblog3/" style="background-color:#009245 !important ;border:none" class="btn btn-primary">Read More</a>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 well" style="background-color:#fff">
					<a href="#"><img class="img-responsive" src="{{blog4image}}" style="height:240px" alt=""></a>
					<div style="background-color:#fff;padding:16px">
                        <br>
						<h3 style="color:#fff !important"><a href="/singleblog4/" style="color:#009245 !important;font-weight:400">Co-working spaces in cafes/restaurants are trending - Are you one of them?</a></h3>
						<span class="posted_on">Feb 3, 2016</span>
						<p>If you are one of the café/restaurant owners paying fixed rental for your cafes/restaurants but more than half of seats ....</p>
						<a href="/singleblog4/" style="background-color:#009245 !important ;border:none" class="btn btn-primary">Read More</a>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 well" style="background-color:#fff">
					<a href="#"><img class="img-responsive" src="{{blog1image}}" style="height:240px" alt=""></a>
					<div style="background-color:#fff;padding:16px">
                        <br>
						<h3 style="color:#009245 !important;font-weight:400"><a href="/singleblog1/" style="color:#009245 !important">10 Reasons why providing free wifi can be a game changer for your retail business in India?</a></h3>
						<span class="posted_on">Dec 3, 2015</span>
						<p>Customers now expect free wifi everywhere they go and appreciate the venues which provide them un-interrupted free wifi access...</p>
						<a href="/singleblog1/" style="background-color:#009245 !important ;border:none" class="btn btn-primary">Read More</a>
					</div>
				</div>




			</div>
		</div>
	</div>



	<footer id="fh5co-footer" role="contentinfo" style="background-image:url({{ MEDIA_URL }}{{footerimage}});" >
		<div class="container" style="margin-top:2px">
			<div class="row" style="margin-top:2px">

				<div class="col-md-4 col-sm-12 col-xs-12  fh5co-widget" >
					<h4 style="color:#009245;margin-bottom:5px">Head Office</h4>
					<ul class="fh5co-footer-links">
						{% for single in headlist%}
							<li  style="color:#7F7F87"><img src="{{MEDIA_URL}}{{f_footer_location}}" style="color:green;height:15px;width:15px"/>{{single.location}}</li>
							<a target="_blank" style="background-color:#009245 !important ;border:none;color:#fff" class="btn-sm" href = "https://www.google.com/maps/place/{{single.latitude}}+{{single.longitude}}/@{{single.latitude}},{{single.longitude}},10z" >View On Map</a>

							<li  style="color:#7F7F87 ;margin-top:12px"><img src="{{MEDIA_URL}}{{f_footer_phone}}" style="color:green;height:15px;width:15px"/> {{single.contact}}</li>
							<li style="color:#7F7F87 "><img src="{{MEDIA_URL}}{{f_footer_email}}" style="color:green;height:15px;width:15px"/> {{single.email}}</li>
						{% endfor%}
					</ul>

					<h4 style="color:#009245;margin-top:20px;margin-bottom:5px">E-Mail</h4>
					<ul class="fh5co-footer-links">
						<li >Sales: {{emailid}}</li>
						<li >Support: {{semailid}}</li>
					</ul>

				</div>

				<div class="col-md-4 col-sm-12 col-xs-12  fh5co-widget" >
					<h4 style="color:#009245;margin-bottom:5px">Branch Offices</h4>
					<ul class="fh5co-footer-links list-inline">
						{% for singleb in branchdata%}
							{% if forloop.last %}
                        	     <li >{{singleb.city}}</li>
							{% else%}
								<li >{{singleb.city}},</li>
                    		{% endif %}
							<!--<li ><i class="icon-mobile" ></i> {{singleb.contact}}</li>-->
							<!--<li ><i class="icon-mail" ></i> {{singleb.email}}</li>-->
						<!--<li style="text-size:15px"> {{singleb.city}} : {{singleb.contact}}/{{singleb.email}} </li>-->
						{% endfor%}
					</ul>


					<h4 style="color:#009245;margin-top:20px;margin-bottom:5px">Channel Partners</h4>
					<ul class="fh5co-footer-links list-inline">
						{% for singleb in channeldata%}
							{% if forloop.last %}
                        	     <li >{{singleb.city}}</li>
							{% else%}
								<li >{{singleb.city}},</li>
                    		{% endif %}

						{% endfor%}
					</ul>
				</div>

				<div class="col-md-2 col-sm-12 col-xs-12  fh5co-widget" >
					<h4 style="color:#009245;margin-bottom:5px">Resources</h4>
					<ul class="fh5co-footer-links">
						<li style="color:#7F7F87"><a style="color:#7F7F87" href="/blog">Blogs</a></li>
						<li style="color:#7F7F87"><a style="color:#7F7F87" href="/casestudy">Case Studies</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-12 col-xs-12 fh5co-widget" >
					<h4 style="color:#009245;margin-bottom:5px">Company</h4>
					<ul class="fh5co-footer-links">
						<li><a href="/aboutus" style="color:#7F7F87">About Us</a></li>
						<li><a href="/team" style="color:#7F7F87">Team</a></li>
						<li><a href="/career" style="color:#7F7F87">Careers</a></li>
					</ul>
				</div>

			</div>

			<div class="row text-center"style="background-color:#;height:26px">
				<ul class="list-inline">
						<li><a target="_blank" href="{{facebook}}"><img src="{{MEDIA_URL}}{{f_facebook}}" style="color:green;height:15px;width:15px"/></a></li>
						<li><a target="_blank" href="{{linkedin}}"><img src="{{MEDIA_URL}}{{f_linkedin}}" style="color:#009245;height:15px;width:15px"/></a></li>
						<li><a target="_blank" href="{{instagram}}"><img src="{{MEDIA_URL}}{{f_instagram}}" style="color:#009245;height:15px;width:15px"/></a></li>
				</ul>
			</div>

			<div class="row text-center">
				<small class="block">&copy; {{copyrighttext}}</small>
			</div>

		</div>
	</footer>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><img src="{{MEDIA_URL}}{{f_arrow}}" style="color:green;height:35px;width:15px;padding-top:8px"/></a>
	</div>
	
		<!-- jQuery -->
	<script  src="{% static "js/jquery.min.js" %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static "js/jquery.easing.1.3.js" %}"></script>
	<!-- Bootstrap -->
	<script  src="{% static "js/bootstrap.min.js" %}"></script>
	<!-- Waypoints -->
	<script   src="{% static "js/jquery.waypoints.min.js" %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static "js/jquery.stellar.min.js" %}"></script>
	<!-- Carousel -->
	<script  src="{% static "js/owl.carousel.min.js" %}"></script>
	<!-- countTo -->
	<script src="{% static "js/jquery.countTo.js" %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
	<script src="{% static "js/magnific-popup-options.js" %}"></script>
	<!-- Main -->
	<script src="{% static "js/main.js" %}"></script>
	</body>
</html>

