{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>FreeG WiFi</title>
            <link rel="icon" type="image/png" href="{{ MEDIA_URL }}{{toplogo}}">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
	<!--          href="{% static "css/.css" %}"	                 -->
	<!--          src="{% static "js/.js" %}"	               -->
		<!--               {% static "ic_action_name.jpg" %}                   -->


	<link rel="stylesheet" href="{% static "css/animate.css" %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static "css/icomoon.css" %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" >

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}" >

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}"	>
	<link rel="stylesheet"href="{% static "css/owl.theme.default.min.css" %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static "css/style.css" %}">

	<!-- Modernizr JS -->
	<script src="{% static "js/modernizr262min.js" %}"></script>

	<script   src="{% static "js/respond.min.js" %}"></script>
		<meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no" />
	<style>
	body
	{
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		overflow-x: hidden;
	}
	</style>

	</head>
	<body>

	<div class="fh5co-loader"></div>

	<div id="page">

	<nav class="fh5co-nav"  role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right" >
						<ul class="fh5co-social list-inline" style="margin-right:12px">
							<li style="color:#444444;font-size:13px;margin-right:20px"><i class="icon-mobile" style="color:#444444;font-size:14px"></i> {{freegcontact}}</li>
							<li style="color:#444444;font-size:13px"><i class="icon-mail" style="color:#444444;font-size:14px"></i> {{emailid}}</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row ">
					<div class="col-sm-3">
                        <div class="row">
							<a href="/web/index/">
							<img class ="col-xs-10" src= "{{ MEDIA_URL }}{{freeglogo}}" alt="FreeG Wi-Fi" height="40" width="180">
                        	</a>
						</div>
					</div>
					<div class="col-sm-9 text-right menu-1">
						<ul>
							<li ><a href="/web/index" style="color:#009245;font-size:20px">Home</a></li>
							<li class="has-dropdown">
								<a href="#" style="color:#009245;font-size:20px" >Categories</a>

								<ul class="dropdown" style="width:360px !important">
                                    {% for singlecategory in freegcategory%}
										{% if singlecategory.title == "More Categories" %}
                                        <li><a href="/web/morecategory" style="font-size:18px">{{singlecategory.title}}</a></li>

										{% else %}
                                        <li><a href="/web/courses/{{singlecategory.id}}/" style="font-size:18px">{{singlecategory.title}}</a></li>

										{% endif %}
                                    {% endfor %}
                                </ul>
							</li>


							<li class="has-dropdown" >
								<a href="#" style="color:#009245;font-size:20px">Resources</a>
								<ul class="dropdown" style="width:180px !important">
                                    <li><a href="/web/blog/" style="font-size:20px">Blogs</a></li>
									<li><a href="/web/casestudy/" style="font-size:20px">Case Studies</a></li>
                                </ul>
							</li>

                            <li class="has-dropdown" >
								<a href="#" style="color:#009245;font-size:20px">Company</a>
								<ul class="dropdown" style="width:160px !important">
                                    <li><a href="/web/aboutus/" style="font-size:20px">About Us</a></li>
									<li><a href="/web/team/" style="font-size:20px">Team</a></li>
									<li><a href="/web/career/" style="font-size:20px">Careers</a></li>
                                </ul>
							</li>

							<li ><a href="/web/contact" style="color:#009245; font-size:20px">Contact</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-color:#00AD7C" >
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Case Studies</h1>
							<!--<h2>Free html5 templates Made by <a href="http://freehtml5.co" target="_blank">freehtml5.co</a></h2>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-blog" style="background-color:#F4F0EF">
		<div class="container">
			<div class="row">
				{% for singlecase in allcase%}
					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a ><img class="img-responsive" src= "{{singlecase.image}}" alt=""></a>
							<div class="blog-text" style="height:400px">
								<h3 style="color:#009245 !important ;border:none">{{singlecase.title}}</h3>
								<span class="posted_on">{{singlecase.date}}</span>
								<p>{{ singlecase.content|truncatechars:120 }}</p>
								<a style="background-color:#009245 !important ;border:none" href="/web/singlecasestudy/{{singlecase.id}}/" class="btn btn-primary">Read More</a>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>


	<footer id="fh5co-footer" role="contentinfo" style="background-color:#FFFFFF;height:450px;" >
		<div class="container">
			<div class="row">

				<div class="col-md-4 col-sm-12 col-xs-12  fh5co-widget" style="margin-top:12px;">
					<h4 style="color:#009245;margin-bottom:5px">Head Office</h4>
					<ul class="fh5co-footer-links">
						{% for single in headlist%}
							<a target="_blank" href = "https://www.google.com/maps/place/{{single.latitude}}+{{single.longitude}}/@{{single.latitude}},{{single.longitude}},10z">
							<li  style="color:#7F7F87"><i class="icon-location" style="color:#7F7F87 "></i> {{single.location}}</li>
                            </a>

							<li  style="color:#7F7F87 ;margin-top:12px"><i class="icon-mobile" style="color:#7F7F87 "></i> {{single.contact}}</li>
							<li style="color:#7F7F87 "><i class="icon-mail" style="color:#7F7F87 "></i> {{single.email}}</li>
						{% endfor%}
					</ul>

					<h4 style="color:#009245;margin-top:20px;margin-bottom:5px">E-Mail</h4>
					<ul class="fh5co-footer-links">
						<li >Sales: {{emailid}}</li>
						<li >Support: {{semailid}}</li>
					</ul>

				</div>

				<div class="col-md-4 col-sm-12 col-xs-12  fh5co-widget" style="margin-top:12px;">
					<h4 style="color:#009245;margin-bottom:5px">Branch Offices</h4>
					<ul class="fh5co-footer-links list-inline">
						{% for singleb in branchdata%}
							{% if forloop.last %}
                        	     <li >{{singleb.city}}</li>
							{% else%}
								<li >{{singleb.city}},</li>
                    		{% endif %}
							<!--<li ><i class="icon-mobile" ></i> {{singleb.contact}}</li>-->
							<!--<li ><i class="icon-mail" ></i> {{singleb.email}}</li>-->
						<!--<li style="text-size:15px"> {{singleb.city}} : {{singleb.contact}}/{{singleb.email}} </li>-->
						{% endfor%}
					</ul>


					<h4 style="color:#009245;margin-top:20px;margin-bottom:5px">Channel Partners</h4>
					<ul class="fh5co-footer-links list-inline">
						{% for singleb in channeldata%}
							{% if forloop.last %}
                        	     <li >{{singleb.city}}</li>
							{% else%}
								<li >{{singleb.city}},</li>
                    		{% endif %}

						{% endfor%}
					</ul>
				</div>

				<div class="col-md-2 col-sm-12 col-xs-12  fh5co-widget" style="margin-top:12px;">
					<h4 style="color:#009245;margin-bottom:5px">Resources</h4>
					<ul class="fh5co-footer-links">
						<li><a href="/web/blog">Blogs</a></li>
						<li><a href="/web/casestudy">Case Studies</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-12 col-xs-12 fh5co-widget" style="margin-top:12px;">
					<h4 style="color:#009245;margin-bottom:5px">Company</h4>
					<ul class="fh5co-footer-links">
						<li><a href="/web/aboutus">About Us</a></li>
						<li><a href="/web/team">Team</a></li>
						<li><a href="/web/career">Careers</a></li>
					</ul>
				</div>

			</div>

			<div class="row text-center"style="background-color:#;height:26px">
				<ul class="list-inline">
						<li><a target="_blank" href="{{facebook}}"><i class="icon-facebook" style="color:#009245"></i></a></li>
						<li><a target="_blank" href="{{linkedin}}"><i class="icon-linkedin" style="color:#009245"></i></a></li>
						<li><a target="_blank" href="{{instagram}}"><i style="color:#009245"class="icon-instagram"></i></a></li>
				</ul>
			</div>

			<div class="row text-center">
				<small class="block">&copy; 2017 FreeG WiFi All Rights Reserved.</small>
			</div>

		</div>
	</footer>

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

		<!-- jQuery -->
	<script  src="{% static "js/jquery.min.js" %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static "js/jquery.easing.1.3.js" %}"></script>
	<!-- Bootstrap -->
	<script  src="{% static "js/bootstrap.min.js" %}"></script>
	<!-- Waypoints -->
	<script   src="{% static "js/jquery.waypoints.min.js" %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static "js/jquery.stellar.min.js" %}"></script>
	<!-- Carousel -->
	<script  src="{% static "js/owl.carousel.min.js" %}"></script>
	<!-- countTo -->
	<script src="{% static "js/jquery.countTo.js" %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
	<script src="{% static "js/magnific-popup-options.js" %}"></script>
	<!-- Main -->
	<script src="{% static "js/main.js" %}"></script>
	</body>
</html>

