{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>FreeG Wi-Fi</title>
        <link rel="icon"
     type="image/png"
     href="{{ MEDIA_URL }}{{freeglogo}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
	<!--          href="{% static "css/.css" %}"	                 -->
	<!--          src="{% static "js/.js" %}"	               -->
		<!--               {% static "ic_action_name.jpg" %}                   -->


	<link rel="stylesheet" href="{% static "css/animate.css" %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static "css/icomoon.css" %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" >

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}" >

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}"	>
	<link rel="stylesheet"href="{% static "css/owl.theme.default.min.css" %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static "css/style.css" %}">

	<!-- Modernizr JS -->
	<script src="{% static "js/modernizr262min.js" %}"></script>

	<script   src="{% static "js/respond.min.js" %}"></script>

	</head>
	<body>

	<div class="fh5co-loader"></div>

	<div id="page">

	<nav class="fh5co-nav"  role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<ul class="fh5co-social">
							<li><a href="" style="color:#009245;"><i class="icon-mobile" ></i> {{freegcontact}} </a></li>
							<li><a href="" style="color:#009245;"><i class="icon-mail"></i> {{emailid}} </a></li>

							<li><a href="{{instagram}}"><i style="color:#009245"class="icon-instagram"></i></a></li>
							<li><a href="{{facebook}}"><i style="color:#009245"class="icon-facebook"></i></a></li>
							<li><a href="{{linkedin}}"><i style="color:#009245"class="icon-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
                        <div class="row">
							<img class ="col-xs-3" src= "{{ MEDIA_URL }}{{freeglogo}}" alt="FreeG Wi-Fi" height="42" width="62">
                            <div class ="col-xs-9"id="fh5co-logo"><a href="/web/index" style="color:#009245;font-size:31px" >FreeG Wi-Fi</a></div>
                        </div>
					</div>
					<div class="col-sm-9 text-right menu-1">
						<ul>
							<li ><a href="/web/index" style="color:#009245;font-size:20px">Home</a></li>
							<li class="has-dropdown">
								<a href="#" style="color:#009245;font-size:20px" >Categories</a>

								<ul class="dropdown" style="width:260px !important">
                                    {% for singlecategory in freegcategory%}
                                        <li><a href="/web/courses/{{singlecategory.id}}/" style="font-size:18px">{{singlecategory.title}}</a></li>
                                    {% endfor %}
                                </ul>
							</li>
							<li class="has-dropdown" >
								<a href="#" style="color:#009245;font-size:20px">Resources</a>
								<ul class="dropdown" style="width:260px !important">
                                    <li><a href="/web/blog/" style="font-size:20px">Blog</a></li>
									<li><a href="/web/casestudy/" style="font-size:20px">Case Study</a></li>
                                </ul>
							</li>
                            <li><a href="/web/team" style="color:#009245;font-size:20px">Our Team</a></li>
							<!--<li><a href="/web/pricing">Pricing</a></li>-->
							<!--<li><a href="/web/blog">Blog</a></li>-->
							<li ><a href="/web/contact" style="color:#009245; font-size:20px">Contact</a></li>
							<!--<li class="btn-cta"><a target="_blank" href="{{loginlink}}"><span>Login</span></a></li>-->
							<!--<li><a href="/web/casestudy/">CaseStudy</a></li>-->
						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-color:#00AD7C" >
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>CaseStudy</h1>
							<!--<h2>Free html5 templates Made by <a href="http://freehtml5.co" target="_blank">freehtml5.co</a></h2>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-blog" style="background-color:#F4F0EF">
		<div class="container">


			<div class="row">

				{% for singlecase in allcase%}
					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a ><img class="img-responsive" src= "{{singlecase.image}}" alt=""></a>
							<div class="blog-text">
								<h3 style="color:#009245 !important ;border:none">{{singlecase.title}}</h3>
								<span class="posted_on">{{singlecase.date}}</span>
								<p>{{ singlecase.content|truncatechars:120 }}</p>
								<a style="background-color:#009245 !important ;border:none" href="/web/singlecasestudy/{{singlecase.id}}/" class="btn btn-primary">Read More</a>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>




	<footer id="fh5co-footer" role="contentinfo" style="background-color:#FFFFFF">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h4 style="color:#009245">About FreeG Wi-Fi</h4>
					<p>{{aboutfreegwifi}}</p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<h4 style="color:#009245">Categories</h4>
					<ul class="fh5co-footer-links">
						{% for singlecategory in freegcategory%}
							<li><a href="/web/courses/{{singlecategory.id}}/">{{singlecategory.title}}</a></li>
						{% endfor %}
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<h4 style="color:#009245">Resources</h4>
					<ul class="fh5co-footer-links">
						<li><a href="/web/blog">Blog</a></li>
						<li><a href="/web/casestudy">Case Studies</a></li>
					</ul>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-6 col-md-push-1">
					{% for single in headlist %}
					<div class="">
						<h4 style="color:#009245">{{single.cityname}}</h4>
						<ul style="list-style-type:none;">
							<a href = "https://www.google.com/maps/preview/@{{single.latitude}},{{single.longitute}},8z">
							<li  style="color:#12DC70"><i class="icon-location" style="color:#12DC70 "></i> {{single.location}}</li>
                            </a>
							<!--<li  style="color:#12DC70 "><i class="icon-mobile" style="color:#12DC70 "></i> {{single.contact}}</li>-->
							<li style="color:#12DC70 "><i class="icon-mail" style="color:#12DC70 "></i> {{single.email}}</li>

							<!--<li class="url"><a href="http://gettemplates.co">gettemplates.co</a></li>-->
						</ul>
					</div>
				{% endfor %}
				</div>




			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2017 FreeG Wi-Fi All Rights Reserved.</small>
						<small class="block">Designed and Developed by <a href="https://www.linkedin.com/in/manish-prajapat-82298180/" target="_blank" style="color:#009245">Manish Prajapat</a> </small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="{{instagram}}"><i style="color:#009245"class="icon-instagram"></i></a></li>
							<li><a href="{{facebook}}"><i class="icon-facebook" style="color:#009245"></i></a></li>
							<li><a href="{{linkedin}}"><i class="icon-linkedin" style="color:#009245"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

		<!-- jQuery -->
	<script  src="{% static "js/jquery.min.js" %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static "js/jquery.easing.1.3.js" %}"></script>
	<!-- Bootstrap -->
	<script  src="{% static "js/bootstrap.min.js" %}"></script>
	<!-- Waypoints -->
	<script   src="{% static "js/jquery.waypoints.min.js" %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static "js/jquery.stellar.min.js" %}"></script>
	<!-- Carousel -->
	<script  src="{% static "js/owl.carousel.min.js" %}"></script>
	<!-- countTo -->
	<script src="{% static "js/jquery.countTo.js" %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
	<script src="{% static "js/magnific-popup-options.js" %}"></script>
	<!-- Main -->
	<script src="{% static "js/main.js" %}"></script>
	</body>
</html>

