{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>FreeG WiFi</title>
    <link rel="shortcut icon" type="image/png" href="{{MEDIA_URL}}{{toplogo}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free Wifi Service" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by Manish Prajapat


	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">

	<!--          href="{% static "css/.css" %}"	                 -->
	<!--          src="{% static "js/.js" %}"	               -->
		<!--               {% static "ic_action_name.jpg" %}                   -->

	<link rel="stylesheet" href="{% static "css/animate.css" %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static "css/icomoon.css" %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" >
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}" >
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}"	>
	<link rel="stylesheet"href="{% static "css/owl.theme.default.min.css" %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<!-- Modernizr JS -->
	<script src="{% static "js/modernizr262min.js" %}"></script>
	<script   src="{% static "js/respond.min.js" %}"></script>
	<meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no" />
	<style>
	body
	{
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		overflow-x: hidden;
	}
	</style>


	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">

	<nav class="fh5co-nav"  role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right" >
						<ul class="fh5co-social list-inline" style="margin-right:12px">
							<li style="color:#444444;font-size:13px;margin-right:20px"><i class="icon-mobile" style="color:#444444;font-size:14px"></i> {{freegcontact}}</li>
							<li style="color:#444444;font-size:13px"><i class="icon-mail" style="color:#444444;font-size:14px"></i> {{emailid}}</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row ">
					<div class="col-sm-3">
                        <div class="row">
							<a href="/web/index/">
							<img class ="col-xs-10" src= "{{ MEDIA_URL }}{{freeglogo}}" alt="FreeG Wi-Fi" height="40" width="180">
                        	</a>
						</div>
					</div>
					<div class="col-sm-9 text-right menu-1">
						<ul>
							<li ><a href="/web/index" style="color:#009245;font-size:20px">Home</a></li>
							<li class="has-dropdown">
								<a href="#" style="color:#009245;font-size:20px" >Categories</a>

								<ul class="dropdown" style="width:360px !important">
                                    {% for singlecategory in freegcategory%}
										{% if singlecategory.title == "More Categories" %}
                                        <li><a href="/web/morecategory" style="font-size:18px">{{singlecategory.title}}</a></li>

										{% else %}
                                        <li><a href="/web/courses/{{singlecategory.id}}/" style="font-size:18px">{{singlecategory.title}}</a></li>

										{% endif %}
                                    {% endfor %}
                                </ul>
							</li>


							<li class="has-dropdown" >
								<a href="#" style="color:#009245;font-size:20px">Resources</a>
								<ul class="dropdown" style="width:180px !important">
                                    <li><a href="/web/blog/" style="font-size:20px">Blogs</a></li>
									<li><a href="/web/casestudy/" style="font-size:20px">Case Studies</a></li>
                                </ul>
							</li>

                            <li class="has-dropdown" >
								<a href="#" style="color:#009245;font-size:20px">Company</a>
								<ul class="dropdown" style="width:160px !important">
                                    <li><a href="/web/aboutus/" style="font-size:20px">About Us</a></li>
									<li><a href="/web/team/" style="font-size:20px">Team</a></li>
									<li><a href="/web/career/" style="font-size:20px">Careers</a></li>
                                </ul>
							</li>

							<li ><a href="/web/contact" style="color:#009245; font-size:20px">Contact</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav>

	<!--style="background-image:url({{ MEDIA_URL }}{{mainbackground}});"-->
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-color:#00AD7C;width:100%" >

		<div class="overlay"></div>
		<div class="container"style="overflow:hidden">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1 >Contact Us</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>





	<div id="fh5co-contact" style="background-color:#FFF">
		<div class="container">
			<div class="row">

				<div class="col-md-6 ">
					<p>
						<a class="btn btn-primary btn-lg btn-learn" style="background-color:#009245 !important;border:none;color:#FFF;font-size:15px" href = "/web/contact"> Get a Demo</a>
						<a class="btn btn-primary btn-lg btn-learn" style="background-color:#FFF !important;border:none;color:#009245;font-size:15px;" href="/web/contact2/">Other Queries </a>
					</p>
					<!--<ul class="list-inline">-->
						<!--<li><h3 style="color:#009245;background:#DDD;padding:4px" >Get In Touch</h3></li>-->
						<!--<li><a href="/web/contact2/"><h4 style="color:#444444;background:#;padding:4px" >/ Query</h4></a></li>-->
					<!--</ul>-->

					<form action="/web/contactus/" method="POST">

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="email">Email</label> -->
								<input style="color:#000;border-color:#8D8D8E" name="name" type="text" id="name" class="form-control" placeholder="Name *" value= "{{name}}" required>
							</div>
						</div>
						<p id="demoname"></p>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="email">Email</label> -->
								<input style="color:#000;border-color:#8D8D8E" name="email" type="text" id="email" class="form-control" placeholder="Email ID *" value= "{{email}}" required>
							</div>
						</div>
						<p id="demo2"></p>
						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="email">Email</label> -->
								<input style="color:#000;border-color:#8D8D8E" name="contact" type="text" id="contact" class="form-control" placeholder="Contact No*" value= "{{contact}}">
							</div>
						</div>
						<p id="demo"></p>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="email">Business Name</label> -->
								<input style="color:#000;border-color:#8D8D8E" name="businessname" type="text" id="businessname" class="form-control" placeholder="Business Name *" value= "{{businessname}}" required>
							</div>
						</div>
						<p id="demobusiness"></p>

						<div class="row form-group">
							<div class="col-md-12">

								<select name="sector" type="tags" style="color:#000;border-color:#8D8D8E" class="form-control" required>
                                	<option value="" selected disabled> Sector *</option>
                                		{% for venue in choice %}
                                			<option value="{{venue}}" style="color:#000;">{{venue}}</option>
                                		{% endfor %}
                                 </select>
								<!-- <label for="email">sector Name</label> -->
								<!--<input style="color:#000;border-color:#8D8D8E" name="sector" type="text" id="sector" class="form-control" placeholder="Sector *" value= "{{sector}}">-->
							</div>
						</div>
						<p id="demosector"></p>


						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="email">sector Name</label> -->
								<input style="color:#000;border-color:#8D8D8E" name="address" type="text" id="address" class="form-control" placeholder="Office Address (Optional)" value= "{{address}}">
							</div>
						</div>


						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="email">sector Name</label> -->
								<input style="color:#000;border-color:#8D8D8E" name="officeno" type="text" id="officeno" class="form-control" placeholder="Office-No (Optional)" value= "{{officeno}}">
							</div>
						</div>

						<!--<div class="row form-group">-->
							<!--<div class="col-md-12">-->
								<!--&lt;!&ndash; <label for="subject">Subject</label> &ndash;&gt;-->
								<!--<input style="color:#000;border-color:#8D8D8E" name="subject" type="text" id="subject" class="form-control" placeholder="Your subject of this message" value= "{{subject}}">-->
							<!--</div>-->
						<!--</div>-->

						<div class="row form-group">
							<div class="col-md-12">
								<textarea style="color:#000;border-color:#8D8D8E" name="comments" id="comments" cols="30" rows="1" class="form-control" value= "{{comments}}" placeholder="Comments (Optional)"></textarea>
							</div>
						</div>

						<div class="form-group">
							<input style="background-color:#009245 !important ;border:none" type="submit" onclick="return myFunction(this)" value="Send Message" class="btn btn-primary">
						</div>

					</form>
				</div>
								<!--<div class="col-md-1 col-md-push-1 "></div>-->


				<div class="col-md-5 col-md-push-1 ">


				<!--{% for single in headlist %}-->
					<!--<div class="fh5co-contact-info text-left">-->
						<!--<h3 style="color:#009245">{{single.cityname}}</h3>-->
						<!--<ul>-->
							<!--<a href = "https://www.google.com/maps/preview/@{{single.latitude}},{{single.longitute}},8z">-->
							<!--<li style="color:#12DC70 "><i class="icon-location" style="color:#12DC70 "></i> {{single.location}}</li>-->
                            <!--</a>-->
							<!--<li style="color:#12DC70 "><i class="icon-phone" style="color:#12DC70 "></i> {{single.contact}}</li>-->
							<!--<li style="color:#12DC70 "><i class="icon-mail" style="color:#12DC70 "></i> {{single.email}}</li>-->

							<!--&lt;!&ndash;<li class="url"><a href="http://gettemplates.co">gettemplates.co</a></li>&ndash;&gt;-->
						<!--</ul>-->
					<!--</div>-->
				<!--{% endfor %}-->
					<div class="fh5co-contact-info text-left">
							<div class="mt">
								<div>
									<h4 style="color:#009245 !important"><i class="icon-user" style="color:#009245"></i>{{category_divider_title1}}</h4>
									<p>{{category_divider_description1}}</p>
								</div>
								<div>
									<h4 style="color:#009245 !important "><i class="icon-video2" style="color:#009245"></i>{{category_divider_title2}}</h4>
									<p>{{category_divider_description2}}</p>
								</div>
								<div>
									<h4 style="color:#009245 !important"><i class="icon-shield" style="color:#009245"></i>{{category_divider_title3}}</h4>
									<p>{{category_divider_description3}}</p>
								</div>
							</div>
						</div>
				</div>


			</div>

		</div>
	</div>


	 <div id="fh5co-blog2" style="background-color:#F4F0EF">
		<div class="container">

			<div class="row text-center" style="margin-bottom:40px;margin-top:40px">
				<p style="color:#009245 !important ;font-size:25px">Interesting Blogs</p>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a ><img class="img-responsive" src= "{{blog2image}}" alt=""></a>
							<div class="blog-text" style="height:400px">
								<a href="/web/singleblog2"><h3 style="color:#009245 !important ">5 key learning from Google’s free wi-fi project at India’s railway stations
</h3></a>
								<span class="posted_on">4 Apr 2017</span>
								<p>We just celebrated World WiFi Day on 20th June, 2016 with our new iconic township wifi project in Bangalore and the timely....</p>
								<a style="background-color:#009245 !important ;border:none" href="/web/singleblog2" class="btn btn-primary">Read More</a>
							</div>
						</div>
				</div>


				<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a ><img class="img-responsive" src= "{{blog3image}}" alt=""></a>
							<div class="blog-text" style="height:400px">
								<a href="/web/singleblog3"><h3 style="color:#009245 !important ">My advice to restaurants owners on data security
</h3></a>
								<span class="posted_on">4 Apr 2017</span>
								<p>Restaurant industry is one of the favorite targets for cyber hackers as it involves millions of credit/debit card details yet follows minimal data security standards. According to  ...</p>
								<a style="background-color:#009245 !important ;border:none" href="/web/singleblog3" class="btn btn-primary">Read More</a>
							</div>
						</div>
				</div>

				<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a ><img class="img-responsive" src= "{{blog4image}}" alt=""></a>
							<div class="blog-text" style="height:400px">
								<a href="/web/singleblog4"><h3 style="color:#009245 !important ">Co-working spaces in cafes/restaurants are trending - Are you one of them?
</h3></a>
								<span class="posted_on">4 Apr 2017</span>
								<p>If you are one of the café/restaurant owners paying fixed rental for your cafes/restaurants but more than half of seats ....</p>
								<a style="background-color:#009245 !important ;border:none" href="/web/singleblog4" class="btn btn-primary">Read More</a>
							</div>
						</div>
				</div>



			</div>
		</div>
            <br><br><br><br>
	</div>

	<div class="fh5co-cover fh5co-cover-lg" role="banner" style="background-image:url({{ MEDIA_URL }}{{casestudy_image}});height:500px" >
		<div class="overlay"></div>
			<div class="container">
				<div class="row" >
					<div class="col-md-6 text-left">
						<br><br><br><br><br><br>
						<h1 class="text-left text-top" style="color:#FFFFFF;">Case Study</h1>
						<h4 class="text-left text-top" style="color:#FFFFFF;">“{{casestudy_description}}”</h4>
						<h2 style="color:#009245 !important " class="text-left text-top" style="color:#EEE236;">{{casestudy_venue}}</h2>
						<p ><a style="background-color:#009245 !important ;border:none" class="btn btn-primary btn-lg btn-learn btn-left" href="/web/casestudy/">See Detailed Case Study </a></p>

					</div>
					<div class="col-md-6 text-left"></div>
				</div>
			</div>>
		</div>
	</div>




	 <div id="fh5co-services-section"  style="background-color:#3B4C56">
		<div class="container" style="background-color:#3B4C56">


			<div class="row text-center"  style="background-color:#3B4C56">
				<br>

				<p align="center">Empowering enterprises 24/7/365 throughout the world</p>
				<div class="col-md-2">
					<div class="pricing">


					</div>
				</div>

				{%for single in bestclient%}
				<div class="col-md-2">
					<div class="pricing">
						<img src= "{{single}}" height="90" width="110" alt="user">

					</div>
				</div>
				{% endfor %}


				<div class="col-md-2">
					<div class="pricing">


					</div>
				</div>
			</div>
		</div>
	</div><!-- end: fh5co-services-section -->

	<footer id="fh5co-footer" role="contentinfo" style="background-color:#FFFFFF;height:450px;" >
		<div class="container">
			<div class="row">

				<div class="col-md-4 col-sm-12 col-xs-12  fh5co-widget" style="margin-top:12px;">
					<h4 style="color:#009245;margin-bottom:5px">Head Office</h4>
					<ul class="fh5co-footer-links">
						{% for single in headlist%}
							<a target="_blank" href = "https://www.google.com/maps/place/{{single.latitude}}+{{single.longitude}}/@{{single.latitude}},{{single.longitude}},10z">
							<li  style="color:#7F7F87"><i class="icon-location" style="color:#7F7F87 "></i> {{single.location}}</li>
                            </a>

							<li  style="color:#7F7F87 ;margin-top:12px"><i class="icon-mobile" style="color:#7F7F87 "></i> {{single.contact}}</li>
							<li style="color:#7F7F87 "><i class="icon-mail" style="color:#7F7F87 "></i> {{single.email}}</li>
						{% endfor%}
					</ul>

					<h4 style="color:#009245;margin-top:20px;margin-bottom:5px">E-Mail</h4>
					<ul class="fh5co-footer-links">
						<li >Sales: {{emailid}}</li>
						<li >Support: {{semailid}}</li>
					</ul>

				</div>

				<div class="col-md-4 col-sm-12 col-xs-12  fh5co-widget" style="margin-top:12px;">
					<h4 style="color:#009245;margin-bottom:5px">Branch Offices</h4>
					<ul class="fh5co-footer-links list-inline">
						{% for singleb in branchdata%}
							{% if forloop.last %}
                        	     <li >{{singleb.city}}</li>
							{% else%}
								<li >{{singleb.city}},</li>
                    		{% endif %}
							<!--<li ><i class="icon-mobile" ></i> {{singleb.contact}}</li>-->
							<!--<li ><i class="icon-mail" ></i> {{singleb.email}}</li>-->
						<!--<li style="text-size:15px"> {{singleb.city}} : {{singleb.contact}}/{{singleb.email}} </li>-->
						{% endfor%}
					</ul>


					<h4 style="color:#009245;margin-top:20px;margin-bottom:5px">Channel Partners</h4>
					<ul class="fh5co-footer-links list-inline">
						{% for singleb in channeldata%}
							{% if forloop.last %}
                        	     <li >{{singleb.city}}</li>
							{% else%}
								<li >{{singleb.city}},</li>
                    		{% endif %}

						{% endfor%}
					</ul>
				</div>

				<div class="col-md-2 col-sm-12 col-xs-12  fh5co-widget" style="margin-top:12px;">
					<h4 style="color:#009245;margin-bottom:5px">Resources</h4>
					<ul class="fh5co-footer-links">
						<li><a href="/web/blog">Blogs</a></li>
						<li><a href="/web/casestudy">Case Studies</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-12 col-xs-12 fh5co-widget" style="margin-top:12px;">
					<h4 style="color:#009245;margin-bottom:5px">Company</h4>
					<ul class="fh5co-footer-links">
						<li><a href="/web/aboutus">About Us</a></li>
						<li><a href="/web/team">Team</a></li>
						<li><a href="/web/career">Careers</a></li>
					</ul>
				</div>

			</div>

			<div class="row text-center"style="background-color:#;height:26px">
				<ul class="list-inline">
						<li><a target="_blank" href="{{facebook}}"><i class="icon-facebook" style="color:#009245"></i></a></li>
						<li><a target="_blank" href="{{linkedin}}"><i class="icon-linkedin" style="color:#009245"></i></a></li>
						<li><a target="_blank" href="{{instagram}}"><i style="color:#009245"class="icon-instagram"></i></a></li>
				</ul>
			</div>

			<div class="row text-center">
				<small class="block">&copy; 2017 FreeG WiFi All Rights Reserved.</small>
			</div>

		</div>
	</footer>

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script  src="{% static "js/jquery.min.js" %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static "js/jquery.easing.1.3.js" %}"></script>
	<!-- Bootstrap -->
	<script  src="{% static "js/bootstrap.min.js" %}"></script>
	<!-- Waypoints -->
	<script   src="{% static "js/jquery.waypoints.min.js" %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static "js/jquery.stellar.min.js" %}"></script>
	<!-- Carousel -->
	<script  src="{% static "js/owl.carousel.min.js" %}"></script>
	<!-- countTo -->
	<script src="{% static "js/jquery.countTo.js" %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
	<script src="{% static "js/magnific-popup-options.js" %}"></script>
	<!-- Main -->
	<script src="{% static "js/main.js" %}"></script>

	<script>
	function myFunction() {
    var x, text,testp,testq,testr,tests;
	var p,q,r,s;
    x = document.getElementById("contact").value;
    var m = document.getElementById("email").value;


    var atpos = m.indexOf("@");
    var dotpos = m.lastIndexOf(".");


	a = 0
    if (atpos<1 || dotpos<atpos+2 || dotpos+2>=m.length) {
        text2 = "Input not valid";
    	document.getElementById("demo2").innerHTML = text2;
    	a=1;
    }else{
    text2 = "";
    	document.getElementById("demo2").innerHTML = text2;
    }



    if (isNaN(x) || x < 6666666666 || x > 9999999999) {
        text = "Input not valid";
		document.getElementById("demo").innerHTML = text;
		a=1;
    }else{
    text = "";
		document.getElementById("demo").innerHTML = text;
    }
    if(a == 1 ){
    	return false;
    }
    return true;
}
</script>



	</body>
</html>

