{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>FreeG Wi-Fi</title>
    <link rel="icon"
     type="image/png"
     href="{{ MEDIA_URL }}{{freeglogo}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free Wifi Service" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">

	<!--          href="{% static "css/.css" %}"	                 -->
	<!--          src="{% static "js/.js" %}"	               -->
		<!--               {% static "ic_action_name.jpg" %}                   -->

	<link rel="stylesheet" href="{% static "css/animate.css" %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static "css/icomoon.css" %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" >
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}" >
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}"	>
	<link rel="stylesheet"href="{% static "css/owl.theme.default.min.css" %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<!-- Modernizr JS -->
	<script src="{% static "js/modernizr262min.js" %}"></script>
	<script   src="{% static "js/respond.min.js" %}"></script>


	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav"  role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<ul class="fh5co-social">
							<li><a href="" style="color:#009245;"><i class="icon-mobile" ></i> {{freegcontact}} </a></li>
							<li><a href="" style="color:#009245;"><i class="icon-mail"></i> {{emailid}} </a></li>

							<li><a href="{{instagram}}"><i style="color:#009245"class="icon-instagram"></i></a></li>
							<li><a href="{{facebook}}"><i style="color:#009245"class="icon-facebook"></i></a></li>
							<li><a href="{{linkedin}}"><i style="color:#009245"class="icon-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
                        <div class="row">
							<img class ="col-xs-3" src= "{{ MEDIA_URL }}{{freeglogo}}" alt="FreeG Wi-Fi" height="42" width="62">
                            <div class ="col-xs-9"id="fh5co-logo"><a href="/web/index" style="color:#009245;font-size:31px" >FreeG Wi-Fi</a></div>
                        </div>
					</div>
					<div class="col-sm-9 text-right menu-1">
						<ul>
							<li ><a href="/web/index" style="color:#009245;font-size:20px">Home</a></li>
							<li class="has-dropdown">
								<a href="#" style="color:#009245;font-size:20px" >Categories</a>

								<ul class="dropdown" style="width:260px !important">
                                    {% for singlecategory in freegcategory%}
                                        <li><a href="/web/courses/{{singlecategory.id}}/" style="font-size:18px">{{singlecategory.title}}</a></li>
                                    {% endfor %}
                                </ul>
							</li>
							<li class="has-dropdown" >
								<a href="#" style="color:#009245;font-size:20px">Resources</a>
								<ul class="dropdown" style="width:260px !important">
                                    <li><a href="/web/blog/" style="font-size:20px">Blog</a></li>
									<li><a href="/web/casestudy/" style="font-size:20px">Case Study</a></li>
                                </ul>
							</li>
                            <li><a href="/web/team" style="color:#009245;font-size:20px">Our Team</a></li>
							<!--<li><a href="/web/pricing">Pricing</a></li>-->
							<!--<li><a href="/web/blog">Blog</a></li>-->
							<li ><a href="/web/contact" style="color:#009245; font-size:20px">Contact</a></li>
							<!--<li class="btn-cta"><a target="_blank" href="{{loginlink}}"><span>Login</span></a></li>-->
							<!--<li><a href="/web/casestudy/">CaseStudy</a></li>-->
						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover " role="banner" style="background-image:url({{ MEDIA_URL }}{{mainbackground}});" >
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>We provide Safe, Secure &amp Legal Wi-Fi HotSpot Systems.</h1>
							<h2>Come Join us and find how we can help you</h2>
							<p ><a class="btn btn-primary btn-lg btn-learn" style="background-color:#009245 !important;border:none" href="/web/contact/">  Get Free Demo  </a> <a class="btn btn-primary btn-lg popup-vimeo btn-video" href="https://www.youtube.com/watch?v=ufOakj6gfSE&index=1&list=PLZnxqowr6IKgXJ7EbHGHea33z_egH7Xfd&feature=int-gs-FLW-07-23-EE"><i class="icon-play"></i> Watch Video</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>


	<!--<div id="fh5co-services-section"  style="background-color:#3B4C56">-->
		<!--<div class="container" style="background-color:#3B4C56">-->


			<!--<div class="row text-center"  style="background-color:#3B4C56">-->
				<!--<div>-->
					<!--<p style="color:#3B4C56">.</p>-->
					<!--<p align="center">Empowering enterprises 24/7/365 throughout the world</p>-->

				<!--</div>-->
				<!--<div class="col-md-2">-->
					<!--<div class="pricing">-->


					<!--</div>-->
				<!--</div>-->

				<!--{%for single in bestclient%}-->
				<!--<div class="col-md-2">-->
					<!--<div class="pricing">-->
						<!--<img src= "{{single}}" height="90" width="110" alt="user">-->

					<!--</div>-->
				<!--</div>-->
				<!--{% endfor %}-->


				<!--<div class="col-md-2">-->
					<!--<div class="pricing">-->


					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>&lt;!&ndash; end: fh5co-services-section &ndash;&gt;-->
	<div id="fh5co-counter" class="fh5co-counters">
		<div class="container">
			<div class="row">
				{% for name,value in statsdata %}
				<div class="col-md-3 text-center animate-box">
					<span  style="color:#009245" class="fh5co-counter js-counter" data-from="0" data-to="{{value}}" data-speed="5000" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label" style="color:#009245">{{name}}</span>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>


	<div id="fh5co-services-section" style="background-color:#F4F0EF">
		<div class="container">
			<div class="row ">
				<br><br>
				<div class="row text-center">
					<h2 style="color:#009245">Understand How FreeG Wi-Fi Can Help You</h2>
				</div>
				<div class="col-md-4">
					<div class="pricing">
						<br><br>
						<img src= "{{ MEDIA_URL }}{{category_divider_image1}}"  height="220" width="100%" alt="user">
						<br><br>
						<h3 style="color:#009245">{{category_divider_title1}}</h3>
						<p>{{category_divider_description1}}</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="pricing">
						<br><br>
						<img src= "{{ MEDIA_URL }}{{category_divider_image2}}"  height="220" width="100%" alt="user">
						<br><br>
						<h3 style="color:#009245">{{category_divider_title2}}</h3>
						<p>{{category_divider_description2}}</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="pricing">
						<br><br>
						<img src= "{{ MEDIA_URL }}{{category_divider_image3}}"  height="220" width="100%" alt="user">
						<br><br>
						<h3 style="color:#009245">{{category_divider_title3}}</h3>
						<p>{{category_divider_description3}}</p>
					</div>
				</div>

			</div>

			<br><br>

			</div>
		</div>
	</div><!-- end: fh5co-services-section -->


	
	<div id="fh5co-project" class="fh5co-bg-section" style="background-color:#ffffff">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2 style="color:#009245">Showcase of our Diversity</h2>
					<p>These are the major categories in which we provide our services to our customers</p>
				</div>
			</div>
		</div>
		<div class="container-fluid proj-bottom">
			<div class="row" style="margin:4px">
				<!--{% for singlecategory in freegcategory%}-->
					<!--<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">-->
						<!--<a href="/web/courses/{{singlecategory.id}}/"><img  src= "{{ MEDIA_URL }}{{singlecategory.image}}" height="400" width="600"  alt="" class="img-responsive">-->
							<!--<h3 >{{singlecategory.title}}</h3>-->
							<!--<span>View Details</span>-->
						<!--</a>-->
					<!--</div>-->
				<!--{% endfor %}-->

				{% for singlecategory in freegcategory%}
					<div class="col-md-2 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn" style="background-color:#00AD7C;margin:4px">
						<a href="/web/courses/{{singlecategory.id}}/">
							<div  style="color:#00AD7C;height:140px;width:250px" >
								<h3 >{{singlecategory.title}}</h3>
								<span>View Details</span>
							</div>
						</a>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>



	<!--4 easy steps to get started-->
	<!--<div id="fh5co-steps">-->
		<!--<div class="container">-->
			<!--<div class="row animate-box">-->
				<!--<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">-->
					<!--<br><br>-->
					<!--<h2 style="color:#3B4C56;">{{steplist|length}} Easy Steps To Get Started </h2>-->
					<!--<p>Our complete FreeG Wi-Fi installation process take {{steplist|length}} simple step</p>-->
				<!--</div>-->
			<!--</div>-->

			<!--<div class="row bs-wizard animate-box" style="border-bottom:0;">-->

				<!--{% for singlestep in steplist %}-->

				<!--<div class="col-xs-3 bs-wizard-step complete">-->
					<!--<div class="text-center bs-wizard-stepnum"><h4 style="color:#EEE236;">Step {{singlestep.sequence}}</h4></div>-->
					<!--<div class="progress"><div class="progress-bar"></div></div>-->
					<!--<a href="#" class="bs-wizard-dot"></a>-->
					<!--<div class="bs-wizard-info text-center"><h5>{{singlestep.title}}</h5></div>-->
				<!--</div>-->

				<!--{% endfor %}-->

			<!--</div>-->

		<!--</div>-->
	<!--</div>-->


	<div id="fh5co-testimonial" style="background-color:#3B4C56" class="fh5co-bg-section">
		<div class="container" >
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h1 style="color:#FFFFFF;">Testimonials</h1>
					<p>This is what our clients have to say about us.</p>
				</div>
			</div>
			<div class="row" >
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box">
						<div class="owl-carousel owl-carousel-fullwidth">

                            {% for singletest in testimonial %}
                            <div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src= "{{ MEDIA_URL }}{{singletest.image}}"  height="120" width="420" alt="user">
									</figure>
									<h3 style="color:#009245">{{singletest.name}}</h3>
									<blockquote>
										<h4 style="color:#7E7E7F">{{singletest.description}}</h4>
									</blockquote>
								</div>
							</div>
                            {% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<div class="fh5co-cover fh5co-cover-lg" role="banner" style="background-image:url({{ MEDIA_URL }}{{casestudy_image}});height:500px" >
		<div class="overlay"></div>
			<div class="container">
				<div class="row" >
					<div class="col-md-6 text-left">
						<br><br><br><br><br><br>
						<h1 class="text-left text-top" style="color:#FFFFFF;">Case Study</h1>
						<h4 class="text-left text-top" style="color:#FFFFFF;">“{{casestudy_description}}”</h4>
						<h2 class="text-left text-top" style="color:#EEE236;">{{casestudy_venue}}</h2>
						<p><a style="background-color:#EA9215 !important ;border:none" class="btn btn-primary btn-lg btn-learn btn-left " href="/web/casestudy/" >See Detailed Case Study </a></p>

					</div>
				</div>
			</div>>
		</div>
	</div>


	<footer id="fh5co-footer" role="contentinfo" style="background-color:#FFFFFF">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h4 style="color:#009245">About FreeG Wi-Fi</h4>
					<p>{{aboutfreegwifi}}</p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<h4 style="color:#009245">Categories</h4>
					<ul class="fh5co-footer-links">
						{% for singlecategory in freegcategory%}
							<li><a href="/web/courses/{{singlecategory.id}}/">{{singlecategory.title}}</a></li>
						{% endfor %}
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<h4 style="color:#009245">Resources</h4>
					<ul class="fh5co-footer-links">
						<li><a href="/web/blog">Blog</a></li>
						<li><a href="/web/casestudy">Case Studies</a></li>
					</ul>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-6 col-md-push-1">
					{% for single in headlist %}
					<div class="">
						<h4 style="color:#009245">{{single.cityname}}</h4>
						<ul style="list-style-type:none;">
							<a href = "https://www.google.com/maps/preview/@{{single.latitude}},{{single.longitute}},8z">
							<li  style="color:#12DC70"><i class="icon-location" style="color:#12DC70 "></i> {{single.location}}</li>
                            </a>
							<!--<li  style="color:#12DC70 "><i class="icon-mobile" style="color:#12DC70 "></i> {{single.contact}}</li>-->
							<li style="color:#12DC70 "><i class="icon-mail" style="color:#12DC70 "></i> {{single.email}}</li>

							<!--<li class="url"><a href="http://gettemplates.co">gettemplates.co</a></li>-->
						</ul>
					</div>
				{% endfor %}
				</div>




			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2017 FreeG Wi-Fi All Rights Reserved.</small>
						<small class="block">Designed and Developed by <a href="https://www.linkedin.com/in/manish-prajapat-82298180/" target="_blank" style="color:#009245">Manish Prajapat</a> </small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="{{instagram}}"><i style="color:#009245"class="icon-instagram"></i></a></li>
							<li><a href="{{facebook}}"><i class="icon-facebook" style="color:#009245"></i></a></li>
							<li><a href="{{linkedin}}"><i class="icon-linkedin" style="color:#009245"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>





	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script  src="{% static "js/jquery.min.js" %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static "js/jquery.easing.1.3.js" %}"></script>
	<!-- Bootstrap -->
	<script  src="{% static "js/bootstrap.min.js" %}"></script>
	<!-- Waypoints -->
	<script   src="{% static "js/jquery.waypoints.min.js" %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static "js/jquery.stellar.min.js" %}"></script>
	<!-- Carousel -->
	<script  src="{% static "js/owl.carousel.min.js" %}"></script>
	<!-- countTo -->
	<script src="{% static "js/jquery.countTo.js" %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
	<script src="{% static "js/magnific-popup-options.js" %}"></script>
	<!-- Main -->
	<script src="{% static "js/main.js" %}"></script>

	</body>
</html>

