{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>FreeG Wi-Fi</title>
    <link rel="icon"
     type="image/png"
     href="{{ MEDIA_URL }}{{freeglogo}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free Wifi Service" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">

	<!--          href="{% static "css/.css" %}"	                 -->
	<!--          src="{% static "js/.js" %}"	               -->
		<!--               {% static "ic_action_name.jpg" %}                   -->

	<link rel="stylesheet" href="{% static "css/animate.css" %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static "css/icomoon.css" %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" >
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}" >
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}"	>
	<link rel="stylesheet"href="{% static "css/owl.theme.default.min.css" %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<!-- Modernizr JS -->
	<script src="{% static "js/modernizr262min.js" %}"></script>
	<script   src="{% static "js/respond.min.js" %}"></script>


	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<p class="num">Call: {{freegcontact}}</p>
						<ul class="fh5co-social">
							<li><a href="{{twitter}}"><i class="icon-twitter"></i></a></li>
							<li><a href="{{facebook}}"><i class="icon-facebook"></i></a></li>
							<li><a href="{{linkedin}}"><i class="icon-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
                        <div class="row">
							<img class ="col-xs-3" src= "{{ MEDIA_URL }}{{freeglogo}}" alt="FreeG Wi-Fi" height="42" width="62">
                            <div class ="col-xs-8"id="fh5co-logo"><a href="/web/index">FreeG Wi-Fi<span>.</span></a></div>
                        </div>
					</div>
					<div class="col-sm-9 text-right menu-1">
						<ul>
							<li class="active"><a href="/web/index">Home</a></li>
							<li class="has-dropdown">
								<a href="#">Categories</a>
								<ul class="dropdown">
                                    {% for singlecategory in freegcategory%}
                                        <li><a href="/web/courses/{{singlecategory.id}}/">{{singlecategory.title}}</a></li>
                                    {% endfor %}
                                </ul>
							</li>
							<li class="has-dropdown">
								<a href="#">Resources</a>
								<ul class="dropdown">
                                    <li><a href="/web/blog/">Blog</a></li>
									<li><a href="/web/casestudy/">Case Study</a></li>
                                </ul>
							</li>
                            <li><a href="/web/team">Our Team</a></li>
							<!--<li><a href="/web/pricing">Pricing</a></li>-->
							<!--<li><a href="/web/blog">Blog</a></li>-->
							<li><a href="/web/contact">Contact</a></li>
							<!--<li class="btn-cta"><a target="_blank" href="{{loginlink}}"><span>Login</span></a></li>-->
							<!--<li><a href="/web/casestudy/">CaseStudy</a></li>-->
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url({{ MEDIA_URL }}{{mainbackground}});" >
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>We provide Safe, Secure &amp Legal Wi-Fi HotSpot Systems.</h1>
							<p><a class="btn btn-primary btn-lg btn-learn" href="/web/contact/">  Get Free Demo  </a> <a class="btn btn-primary btn-lg popup-vimeo btn-video" href="https://www.youtube.com/watch?v=ufOakj6gfSE&index=1&list=PLZnxqowr6IKgXJ7EbHGHea33z_egH7Xfd&feature=int-gs-FLW-07-23-EE"><i class="icon-play"></i> Watch Video</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>


        <!--<div id="fh5co-services-section"  style="background-color:#3B4C56">-->
		<!--<div class="container" style="background-color:#3B4C56">-->

			<!--<div class="row text-center"  style="background-color:#3B4C56">-->
				<!--<div class="col-md-2">-->
					<!--<div class="pricing">-->
						<!--<img src= "">-->

					<!--</div>-->
				<!--</div>-->
                <!--<div class="col-md-2">-->
					<!--<div class="pricing">-->
                        <!--<br><br>-->
						<!--<img src= "http://127.0.0.1:8000/media/testimonial/b1.png"  height="90" width="110" alt="user">-->
                        <!--<br>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="col-md-2">-->
					<!--<div class="pricing">-->
                        <!--<br><br>-->
						<!--<img src= "http://127.0.0.1:8000/media/testimonial/b2.png"  height="90" width="110" alt="user">-->
                        <!--<br>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="col-md-2">-->
					<!--<div class="pricing">-->
                        <!--<br><br>-->
						<!--<img src= "http://127.0.0.1:8000/media/testimonial/b3.png"  height="90" width="110" alt="user">-->
                        <!--<br>-->
					<!--</div>-->
				<!--</div>-->
                <!--<div class="col-md-2">-->
					<!--<div class="pricing">-->
                        <!--<br><br>-->
						<!--<img src= "http://127.0.0.1:8000/media/testimonial/b4.png"  height="90" width="110" alt="user">-->
                        <!--<br>-->
					<!--</div>-->
				<!--</div>-->
                <!--<div class="col-md-2">-->
					<!--<div class="pricing">-->

						<!--<img >-->

					<!--</div>-->
				<!--</div>-->

			<!--</div>-->

			<!--</div>-->
		<!--</div>-->
		<!--</div>&lt;!&ndash; end: fh5co-services-section &ndash;&gt;-->


	<div id="fh5co-counter" class="fh5co-counters">
		<div class="container">
			<div class="row">
				{% for name,value in statsdata %}
				<div class="col-md-3 text-center animate-box">
					<span class="fh5co-counter js-counter" data-from="0" data-to="{{value}}" data-speed="5000" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label">{{name}}</span>
				</div>
				{% endfor %}
				<!--<div class="col-md-3 text-center animate-box">-->
					<!--<span class="fh5co-counter js-counter" data-from="0" data-to="50000" data-speed="5000" data-refresh-interval="50"></span>-->
					<!--<span class="fh5co-counter-label">Happy Users</span>-->
				<!--</div>-->
				<!--<div class="col-md-3 text-center animate-box">-->
					<!--<span class="fh5co-counter js-counter" data-from="0" data-to="200" data-speed="5000" data-refresh-interval="50"></span>-->
					<!--<span class="fh5co-counter-label">Location</span>-->
				<!--</div>-->
				<!--<div class="col-md-3 text-center animate-box">-->
					<!--<span class="fh5co-counter js-counter" data-from="0" data-to="12" data-speed="5000" data-refresh-interval="50"></span>-->
					<!--<span class="fh5co-counter-label">Categories</span>-->
				<!--</div>-->
				<!--<div class="col-md-3 text-center animate-box">-->
					<!--<span class="fh5co-counter js-counter" data-from="0" data-to="7" data-speed="5000" data-refresh-interval="50"></span>-->
					<!--<span class="fh5co-counter-label">Cities</span>-->
				<!--</div>-->
			</div>
		</div>
	</div>

	
	<div id="fh5co-project" class="fh5co-bg-section" style="background-color:">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2 style="color:#3B4C56;">Showcase of our Diversity</h2>
					<p>These are the major categories in which we provide our services to our customers</p>
				</div>
			</div>
		</div>
		<div class="container-fluid proj-bottom">
			<div class="row">
				{% for singlecategory in freegcategory%}
					<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
						<a href="/web/courses/{{singlecategory.id}}/"><img  src= "{{ MEDIA_URL }}{{singlecategory.image}}" height="400" width="600"  alt="" class="img-responsive">
							<h3>{{singlecategory.title}}</h3>
							<span>View Details</span>
						</a>
					</div>
				{% endfor %}

			</div>
		</div>
		<!--<div class="container">-->
			<!--<div class="row">-->
				<!--<div class="features">-->
					<!--<div class="col-md-4 animate-box">-->
						<!--<h4>We have coolest features of this course</h4>-->
						<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  </p>-->
					<!--</div>-->
					<!--<div class="col-md-4 animate-box">-->
						<!--<h4>Great teachers that we have</h4>-->
						<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  </p>-->
					<!--</div>-->
					<!--<div class="col-md-4 animate-box">-->
						<!--<h4>Steps by steps turorial session</h4>-->
						<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  </p>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="col-md-12 text-center animate-box">-->
					<!--<p><a class="btn btn-primary btn-lg btn-learn" href="#">Create A Free Course</a></p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	</div>

	<div id="fh5co-steps">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<br><br>
					<h2 style="color:#3B4C56;">{{steplist|length}} Easy Steps To Get Started </h2>
					<p>Our complete FreeG Wi-Fi installation process take {{steplist|length}} simple step</p>
				</div>
			</div>

			<div class="row bs-wizard animate-box" style="border-bottom:0;">

				{% for singlestep in steplist %}

				<div class="col-xs-3 bs-wizard-step complete">
					<div class="text-center bs-wizard-stepnum"><h4 style="color:#EEE236;">Step {{singlestep.sequence}}</h4></div>
					<div class="progress"><div class="progress-bar"></div></div>
					<a href="#" class="bs-wizard-dot"></a>
					<div class="bs-wizard-info text-center"><h5>{{singlestep.title}}</h5></div>
				</div>

				{% endfor %}

			</div>

		</div>
	</div>

	<div id="fh5co-testimonial" style="background-color:#3B4C56" class="fh5co-bg-section">
		<div class="container" >
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2 style="color:#FFFFFF;">Testimonials</h2>
					<p>This is what our clients have to say about us.</p>
				</div>
			</div>
			<div class="row" >
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box">
						<div class="owl-carousel owl-carousel-fullwidth">

                            {% for singletest in testimonial %}
                            <div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src= "{{ MEDIA_URL }}{{singletest.image}}"  height="100" width="160" alt="user">
									</figure>
									<span style="color:#EEE236;">{{singletest.name}}</span>
									<blockquote>
										<p>{{singletest.description}}</p>
									</blockquote>
								</div>
							</div>
                            {% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="fh5co-cover fh5co-cover-md" role="banner" style="background-image:url({{ MEDIA_URL }}{{casestudy_image}});" >
		<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-left">
						<br><br><br><br><br><br><br>
						<h1 class="text-left text-top" style="color:#FFFFFF;">Case Study</h1>
						<h4 class="text-left text-top" style="color:#FFFFFF;">“{{casestudy_description}}”</h4>
						<h2 class="text-left text-top" style="color:#EEE236;">{{casestudy_venue}}</h2>
						<p ><a class="btn btn-primary btn-lg btn-learn btn-left" href="/web/casestudy/">See Detailed Case Study </a></p>

					</div>
				</div>
			</div>>
		</div>

	<footer>
            <div id="fh5co-steps2">
                <div class="container">

                <div class="row copyright">
                    <div class="col-md-12 text-center">
                        <p>
							<p>  <p>
							<br><br><br><br>
                            <small class="block">&copy; FreeG Wi-Fi. All Rights Reserved.</small>
                            <small class="block">Designed by <a href="https://www.linkedin.com/in/manish-prajapat-82298180/" target="_blank">Manish Prajapat</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
                        </p>
                        <p>
                            <ul class="fh5co-social-icons">
                                <li><a href="{{twitter}}"><i class="icon-twitter"></i></a></li>
                                <li><a href="{{facebook}}"><i class="icon-facebook"></i></a></li>
                                <li><a href="{{linkedin}}"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </p>
                    </div>
                </div>
                <br><br><br><br>
            </div>
        </div>
    </footer>





	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script  src="{% static "js/jquery.min.js" %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static "js/jquery.easing.1.3.js" %}"></script>
	<!-- Bootstrap -->
	<script  src="{% static "js/bootstrap.min.js" %}"></script>
	<!-- Waypoints -->
	<script   src="{% static "js/jquery.waypoints.min.js" %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static "js/jquery.stellar.min.js" %}"></script>
	<!-- Carousel -->
	<script  src="{% static "js/owl.carousel.min.js" %}"></script>
	<!-- countTo -->
	<script src="{% static "js/jquery.countTo.js" %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
	<script src="{% static "js/magnific-popup-options.js" %}"></script>
	<!-- Main -->
	<script src="{% static "js/main.js" %}"></script>

	</body>
</html>

