{% load staticfiles %}
{% load humanize %}

<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>FreeG WiFi</title>
    <link rel="icon" type="image/png" href="{{ MEDIA_URL }}{{toplogo}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free Wifi Service" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
	<link rel="stylesheet" href="{% static "css/animate.css" %}">
	<link rel="stylesheet" href="{% static "css/icomoon.css" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" >
	<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}" >
	<link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}"	>
	<link rel="stylesheet"href="{% static "css/owl.theme.default.min.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<script src="{% static "js/modernizr262min.js" %}"></script>
	<script   src="{% static "js/respond.min.js" %}"></script>
	<meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no" />


	<link rel="stylesheet" type="text/css" href="{% static "slick/slick.css" %}" >
  	<link rel="stylesheet" type="text/css" href="{% static "slick/slick-theme.css" %}" >
	<style>
	body
	{
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		overflow-x: hidden;
	}
	</style>
	<style type="text/css">
	html, body {
      margin: 0;
      padding: 0;
    }
    * {
      box-sizing: border-box;
    }

    .slider {
        width: 80%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
  	</style>

	</head>
	<body>
		
		<div class="fh5co-loader"></div>
	
		<div id="page">

	<nav class="fh5co-nav"  role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right" >
						<ul class="fh5co-social list-inline" style="margin-right:12px">
							<li style="color:#444444;font-size:13px;margin-right:20px"><i class="icon-mobile" style="color:#444444;font-size:14px"></i> {{freegcontact}}</li>
							<li style="color:#444444;font-size:13px"><i class="icon-mail" style="color:#444444;font-size:14px"></i> {{emailid}}</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row ">
					<div class="col-sm-3">
                        <div class="row">
							<a href="/web/index/">
							<img class ="col-xs-10" src= "{{ MEDIA_URL }}{{freeglogo}}" alt="FreeG Wi-Fi" height="40" width="180">
                        	</a>
						</div>
					</div>
					<div class="col-sm-9 text-right menu-1">
						<ul>
							<li ><a href="/web/index" style="color:#009245;font-size:20px">Home</a></li>
							<li class="has-dropdown">
								<a href="#" style="color:#009245;font-size:20px" >Categories</a>

								<ul class="dropdown" style="width:360px !important">
                                    {% for singlecategory in freegcategory%}
										{% if singlecategory.title == "More Categories" %}
                                        <li><a href="/web/morecategory" style="font-size:18px">{{singlecategory.title}}</a></li>

										{% else %}
                                        <li><a href="/web/courses/{{singlecategory.id}}/" style="font-size:18px">{{singlecategory.title}}</a></li>

										{% endif %}
                                    {% endfor %}
                                </ul>
							</li>


							<li class="has-dropdown" >
								<a href="#" style="color:#009245;font-size:20px">Resources</a>
								<ul class="dropdown" style="width:180px !important">
                                    <li><a href="/web/blog/" style="font-size:20px">Blogs</a></li>
									<li><a href="/web/casestudy/" style="font-size:20px">Case Studies</a></li>
                                </ul>
							</li>

                            <li class="has-dropdown" >
								<a href="#" style="color:#009245;font-size:20px">Company</a>
								<ul class="dropdown" style="width:160px !important">
                                    <li><a href="/web/aboutus/" style="font-size:20px">About Us</a></li>
									<li><a href="/web/team/" style="font-size:20px">Team</a></li>
									<li><a href="/web/career/" style="font-size:20px">Careers</a></li>
                                </ul>
							</li>

							<li ><a href="/web/contact" style="color:#009245; font-size:20px">Contact</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover " role="banner" style="background-image:url({{ MEDIA_URL }}{{mainbackground}});" >
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1 id = "heading">{{heading}}</h1>
							<h2 id = "subheading">{{subheading}}</h2>
							<p>
								<a class="btn btn-primary btn-lg btn-learn" style="background-color:#FFF !important;border:none;color:#009245;font-size:15px;" href="/web/contact/">Get Free Demo  </a>
								<a style="background-color:#009245 !important;border:none;color:#FFF;font-size:15px" class="btn btn-primary btn-lg popup-vimeo btn-video" href="https://www.youtube.com/watch?v=ufOakj6gfSE&index=1&list=PLZnxqowr6IKgXJ7EbHGHea33z_egH7Xfd&feature=int-gs-FLW-07-23-EE"><i class="icon-play"></i> Watch Video</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>


	<div id="fh5co-counter" class="fh5co-counters">
		<div class="container">
			<div class="row">
				{% for name,value in statsdata %}
				<div class="col-md-3 text-center animate-box">
					<span  style="color:#009245" class="fh5co-counter js-counter" data-from="0" data-to="{{value}}" data-speed="5000" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label" style="color:#009245">{{name}}</span>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>


	<div id="fh5co-services-section" style="background-color:#F4F0EF;overflow:hidden">
		<div class="container">
			<div class="row ">
				<br><br>
				<div class="row text-center">
					<h3 style="color:#009245;margin-left:20px;margin-right:20px">Understand How FreeG WiFi Can Help You</h3>
				</div>
				<div class="col-md-4">
					<div class="pricing">
						<br><br>
						<img src= "{{ MEDIA_URL }}{{category_divider_image1}}"  height="220" width="100%" alt="user">
						<br><br>
						<h3 style="color:#009245;font-size:20px">{{category_divider_title1}}</h3>
						<p>{{category_divider_description1}}</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="pricing">
						<br><br>
						<img src= "{{ MEDIA_URL }}{{category_divider_image2}}"  height="220" width="100%" alt="user">
						<br><br>
						<h3 style="color:#009245;font-size:20px">{{category_divider_title2}}</h3>
						<p>{{category_divider_description2}}</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="pricing">
						<br><br>
						<img src= "{{ MEDIA_URL }}{{category_divider_image3}}"  height="220" width="100%" alt="user">
						<br><br>
						<h3 style="color:#009245;font-size:20px">{{category_divider_title3}}</h3>
						<p>{{category_divider_description3}}</p>
					</div>
				</div>

			</div>

			<br><br>

			</div>
		</div>
	</div>

		<div id="fh5co-project" class="fh5co-bg-section" style="background-color:#ffffff">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-12 text-center ">
					<h2 style="color:#009245">Showcase Of Our Diversity</h2>
					<p>These are the major categories in which we provide our services to our customers</p>
				</div>
			</div>
		</div>
		<div class="container proj-bottom">
			<div class="row">
				{% for singlecategory in freegcategory%}
					{% if singlecategory.title == "More Categories" %}
					<div class="col-md-3 well  col-sm-6  fh5co-project animate-box" data-animate-effect="fadeIn" style="background-color:#00AD7C;padding:2px;">
						<a href="/web/morecategory">
							<div style="color:#00AD7C;height:180px" >
								<h3 >{{singlecategory.title}}</h3>
								<span>View Details</span>
							</div>
						</a>
					</div>
					{% else %}
					<div class="col-md-3 well  col-sm-6  fh5co-project animate-box" data-animate-effect="fadeIn" style="background-color:#00AD7C;padding:2px;">
						<a href="/web/courses/{{singlecategory.id}}/">
							<div style="color:#00AD7C;height:180px" >
								<h3 >{{singlecategory.title}}</h3>
								<span>View Details</span>
							</div>
						</a>
					</div>
					{% endif %}

				{% endfor %}

			</div>
		</div>
	</div>

		<div id="fh5co-testimonial" style="background-color:#3B4C56" class="fh5co-bg-section" data-ride="carousel" data-interval="1000">
		<div class="container" data-ride="carousel" data-interval="1000">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h1 style="color:#FFFFFF;">Testimonials</h1>
					<p>This is what our clients have to say about us.</p>
				</div>
			</div>
			<div class="row" data-ride="carousel" data-interval="1000">
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box" data-ride="carousel" data-interval="1000">
						<div id ="mycarousel" class="owl-carousel owl-carousel-fullwidth swipe" data-ride="carousel" data-interval="1000" cycle="true" >


							{% for singletest in testimonial %}
								{% if forloop.first %}
        							<div class="item active">
										<div class="testimony-slide text-center">
											<figure>
												<img src= "{{ MEDIA_URL }}{{singletest.image}}"  height="110" width="420" alt="user">
											</figure>
										<h3 style="color:#009245">{{singletest.name}}</h3>
										<blockquote>
											<h4 style="color:#7E7E7F">{{singletest.description}}</h4>
										</blockquote>
										</div>
									</div>
    						{% else %}
        						<div class="item ">
								<div class="testimony-slide text-center">
									<figure>
										<img src= "{{ MEDIA_URL }}{{singletest.image}}"  height="110" width="420" alt="user">
									</figure>
									<h3 style="color:#009245">{{singletest.name}}</h3>
									<blockquote>
										<h4 style="color:#7E7E7F">{{singletest.description}}</h4>
									</blockquote>
								</div>
							</div>
    						{% endif %}


                            {% endfor %}


						</div>


					</div>
				</div>
			</div>
		</div>
	</div>

		<div class="text-center" style="margin-top:40px;">
				<h2 style="color:#009245">Our Customers</h2>
		</div>
		<section class="regular autoplay slider" style="margin-top:40px">
			{% for single in bestclient%}
			<div>
			  <img src="{{single}}" style="height:160px;width:100%">
			</div>
			{% endfor %}

		</section>

		<div id="casestudy-cover"class="fh5co-cover fh5co-cover-lg" role="banner" style="background-image:url({{ MEDIA_URL }}{{casestudy_image}});height:600px" >
		<div class="overlay"></div>
			<div class="container">
				<div class="row" >
					<div class="col-md-6 text-left">
						<br><br><br><br><br><br>
						<h1 class="text-left text-top" style="color:#FFFFFF;">Case Study</h1>
						<h4 class="text-left text-top" style="color:#FFFFFF;">“{{casestudy_description}}”</h4>
						<h2 class="text-left text-top" style="color:#EEE236;">{{casestudy_venue}}</h2>
						<p><a style="background-color:#EA9215 !important ;border:none" class="btn btn-primary btn-lg btn-learn btn-left " href="/web/casestudy/" >See Detailed Case Study </a></p>

					</div>
				</div>
			</div>>
	</div>

		<footer id="fh5co-footer" role="contentinfo" style="background-color:#FFFFFF;height:450px;" >
		<div class="container">
			<div class="row">

				<div class="col-md-4 col-sm-12 col-xs-12  fh5co-widget" style="margin-top:12px;">
					<h4 style="color:#009245;margin-bottom:5px">Head Office</h4>
					<ul class="fh5co-footer-links">
						{% for single in headlist%}
							<a target="_blank" href = "https://www.google.com/maps/place/{{single.latitude}}+{{single.longitude}}/@{{single.latitude}},{{single.longitude}},10z">
							<li  style="color:#7F7F87"><i class="icon-location" style="color:#7F7F87 "></i> {{single.location}}</li>
                            </a>

							<li  style="color:#7F7F87 ;margin-top:12px"><i class="icon-mobile" style="color:#7F7F87 "></i> {{single.contact}}</li>
							<li style="color:#7F7F87 "><i class="icon-mail" style="color:#7F7F87 "></i> {{single.email}}</li>
						{% endfor%}
					</ul>

					<h4 style="color:#009245;margin-top:20px;margin-bottom:5px">E-Mail</h4>
					<ul class="fh5co-footer-links">
						<li >Sales: {{emailid}}</li>
						<li >Support: {{semailid}}</li>
					</ul>

				</div>

				<div class="col-md-4 col-sm-12 col-xs-12  fh5co-widget" style="margin-top:12px;">
					<h4 style="color:#009245;margin-bottom:5px">Branch Offices</h4>
					<ul class="fh5co-footer-links list-inline">
						{% for singleb in branchdata%}
							{% if forloop.last %}
                        	     <li >{{singleb.city}}</li>
							{% else%}
								<li >{{singleb.city}},</li>
                    		{% endif %}
							<!--<li ><i class="icon-mobile" ></i> {{singleb.contact}}</li>-->
							<!--<li ><i class="icon-mail" ></i> {{singleb.email}}</li>-->
						<!--<li style="text-size:15px"> {{singleb.city}} : {{singleb.contact}}/{{singleb.email}} </li>-->
						{% endfor%}
					</ul>


					<h4 style="color:#009245;margin-top:20px;margin-bottom:5px">Channel Partners</h4>
					<ul class="fh5co-footer-links list-inline">
						{% for singleb in channeldata%}
							{% if forloop.last %}
                        	     <li >{{singleb.city}}</li>
							{% else%}
								<li >{{singleb.city}},</li>
                    		{% endif %}

						{% endfor%}
					</ul>
				</div>

				<div class="col-md-2 col-sm-12 col-xs-12  fh5co-widget" style="margin-top:12px;">
					<h4 style="color:#009245;margin-bottom:5px">Resources</h4>
					<ul class="fh5co-footer-links">
						<li><a href="/web/blog">Blogs</a></li>
						<li><a href="/web/casestudy">Case Studies</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-12 col-xs-12 fh5co-widget" style="margin-top:12px;">
					<h4 style="color:#009245;margin-bottom:5px">Company</h4>
					<ul class="fh5co-footer-links">
						<li><a href="/web/aboutus">About Us</a></li>
						<li><a href="/web/team">Team</a></li>
						<li><a href="/web/career">Careers</a></li>
					</ul>
				</div>

			</div>

			<div class="row text-center"style="background-color:#;height:26px">
				<ul class="list-inline">
						<li><a target="_blank" href="{{facebook}}"><i class="icon-facebook" style="color:#009245"></i></a></li>
						<li><a target="_blank" href="{{linkedin}}"><i class="icon-linkedin" style="color:#009245"></i></a></li>
						<li><a target="_blank" href="{{instagram}}"><i style="color:#009245"class="icon-instagram"></i></a></li>
				</ul>
			</div>

			<div class="row text-center">
				<small class="block">&copy; 2017 FreeG WiFi All Rights Reserved.</small>
			</div>

		</div>
	</footer>

		<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

		<script src= "https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
  		<script src="{% static "slick/slick.js" %}"></script>
  		<script type="text/javascript">
			$(document).on('ready', function() {
			  $(".regular").slick({
				dots: true,
				infinite: true,
				slidesToShow: 3,
				slidesToScroll: 3
			  });
			  $(".center").slick({
				dots: true,
				infinite: true,
				centerMode: true,
				slidesToShow: 3,
				slidesToScroll: 3
			  });
			  $(".variable").slick({
				dots: true,
				infinite: true,
				variableWidth: true
			  });
			  $(".lazy").slick({
				lazyLoad: 'ondemand', // ondemand progressive anticipated
				infinite: true
			  });
			});
  		</script>
		<script >
			if ( $(window).width() > 739) {
			 $('.autoplay').slick({
			slidesToShow: 5,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 1500,
		  });
			}
			else {
			 $('.autoplay').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			autoplay: true,

			autoplaySpeed: 1500,
		  });
			}

		</script>


		<script src="{% static "js/jquery.easing.1.3.js" %}"></script>
		<script  src="{% static "js/bootstrap.min.js" %}"></script>
		<script   src="{% static "js/jquery.waypoints.min.js" %}"></script>
		<script src="{% static "js/jquery.stellar.min.js" %}"></script>
		<script  src="{% static "js/owl.carousel.min.js" %}"></script>
		<script src="{% static "js/jquery.countTo.js" %}"></script>
		<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
		<script src="{% static "js/magnific-popup-options.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>

	</body>
</html>

