{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>FreeG WiFi</title>
    <link rel="icon" type="image/png" href="{{ MEDIA_URL }}{{toplogo}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
	<!--          href="{% static "css/.css" %}"	                 -->
	<!--          src="{% static "js/.js" %}"	               -->
		<!--               {% static "ic_action_name.jpg" %}                   -->


	<link rel="stylesheet" href="{% static "css/animate.css" %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static "css/icomoon.css" %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" >

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}" >

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}"	>
	<link rel="stylesheet"href="{% static "css/owl.theme.default.min.css" %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static "css/style.css" %}">

	<!-- Modernizr JS -->
	<script src="{% static "js/modernizr262min.js" %}"></script>

	<script   src="{% static "js/respond.min.js" %}"></script>

		<meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no" />
	<style>
	body
	{
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		overflow-x: hidden;
	}
	</style>

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav"  role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right" >
						<ul class="fh5co-social list-inline" style="margin-right:12px">
							<li style="color:#444444;font-size:13px;margin-right:20px"><i class="icon-mobile" style="color:#444444;font-size:14px"></i> {{freegcontact}}</li>
							<li style="color:#444444;font-size:13px"><i class="icon-mail" style="color:#444444;font-size:14px"></i> {{emailid}}</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row ">
					<div class="col-sm-3">
                        <div class="row">
							<a href="/web/index/">
							<img class ="col-xs-10" src= "{{ MEDIA_URL }}{{freeglogo}}" alt="FreeG Wi-Fi" height="40" width="180">
                        	</a>
						</div>
					</div>
					<div class="col-sm-9 text-right menu-1">
						<ul>
							<li ><a href="/web/index" style="color:#009245;font-size:20px">Home</a></li>
							<li class="has-dropdown">
								<a href="#" style="color:#009245;font-size:20px" >Categories</a>

								<ul class="dropdown" style="width:360px !important">
                                    {% for singlecategory in freegcategory%}
                                        <li><a href="/web/courses/{{singlecategory.id}}/" style="font-size:18px">{{singlecategory.title}}</a></li>
                                    {% endfor %}
                                </ul>
							</li>


							<li class="has-dropdown" >
								<a href="#" style="color:#009245;font-size:20px">Resources</a>
								<ul class="dropdown" style="width:180px !important">
                                    <li><a href="/web/blog/" style="font-size:20px">Blogs</a></li>
									<li><a href="/web/casestudy/" style="font-size:20px">Case Studies</a></li>
                                </ul>
							</li>

                            <li class="has-dropdown" >
								<a href="#" style="color:#009245;font-size:20px">Company</a>
								<ul class="dropdown" style="width:160px !important">
                                    <li><a href="/web/aboutus/" style="font-size:20px">About Us</a></li>
									<li><a href="/web/career/" style="font-size:20px">Careers</a></li>
									<li><a href="/web/team/" style="font-size:20px">Team</a></li>
                                </ul>
							</li>
							<!--<li><a href="/web/pricing">Pricing</a></li>-->
							<!--<li><a href="/web/blog">Blog</a></li>-->
							<li ><a href="/web/contact" style="color:#009245; font-size:20px">Contact</a></li>
							<!--<li class="btn-cta"><a target="_blank" href="{{loginlink}}"><span>Login</span></a></li>-->
							<!--<li><a href="/web/casestudy/">CaseStudy</a></li>-->
						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({{ MEDIA_URL }}{{blog4image}});" >
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<!--<h3 style="color:#FFF !important ">Co-working spaces in cafes/restaurants are trending - Are you one of them?</h3>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-blog">
		<div class="container">
			<div class="row" align="center">
							<h2 style="text-align:center;color:#009245;margin-left:60px;margin-right:60px;">Co-working spaces in cafes/restaurants are trending - Are you one of them?</h2>
								<br><br>



				<p style="text-align:left;text-size:29px;margin-left:60px;margin-right:60px;">If you are one of the café/restaurant owners paying fixed rental for your cafes/restaurants but more than half of seats are lying empty for most of day hours then the idea of establishing a co-working space out of your outlet is really attractive.</p>
<br>


				<p style="text-align:left;text-size:29px;margin-left:60px;margin-right:60px;">With so much focus on entrepreneurship in our country, several youths are now launching new startups (including my startup FreeG WiFi) every day and the first thing they need is to sit with their partners and discuss strategies, ideas, and also work together on products. While working from their apartments is one of the option for them but a professional environment is absolutely missing there. Renting out an office is also an economically viable option for many. </p>
<br>


				<p style="text-align:left;text-size:29px;margin-left:60px;margin-right:60px;">Normal office hours generally start from 8 am and ends around 6 pm in the evening while for restaurant/bar owners, majority of crowd arrive post office hours (5 5.30 pm) on weekdays and hence the restaurant space is completely underutilized for day hours (8 am to 5 pm). This situation makes a complete sense for owners to start offering their unoccupied real estate to co-workers during day hours without disturbing their usual business. The good part of starting a co-working space out of a café/bar is minimal investments in converting the ambiance into work-like environment. You might need to light up space some brighter and lower down the music level in day-time to ensure the professional experience while almost everything else is already present for e.g. air-conditioning, water, juice/coffee, desks, and internet connection.</p>
<br>


				<p style="text-align:left;text-size:29px;margin-left:60px;margin-right:60px;">I will be more focusing on importance of internet connection in setting up co-working space in this article as I believe this is the most crucial thing for any co-workers to visit any co-working space as he/she would want to be online to keep up-to-date with all communications with teams and clients.

</p>
<br>


				<p style="text-align:left;text-size:29px;margin-left:60px;margin-right:60px;">Here are few tips on setting up a seamless internet experience to co-working community:-

</p>
<br>
				<p style="text-align:left;text-size:29px;margin-left:60px;margin-right:60px;">1. Opt for optical fiber based internet connection from a reliable internet speed provider (it can be a local ISP too) with assurance of prompt services and minimum downtime.</p>
<br>

				<p style="text-align:left;text-size:29px;margin-left:60px;margin-right:60px;">2. Purchase a high-speed internet plan (10 mbps to 100 mbps) depending on number of co-workers. Never purchase FUP plans; you must take unlimited usages plans only.
</p>
<br>

				<p style="text-align:left;text-size:29px;margin-left:60px;margin-right:60px;">To help you further on internet speed calculation, if you are expecting 25 co-workers on an average sitting in your outlet then take at least 15 mbps connection to ensure good surfing experience

</p>
<br>

				<p style="text-align:left;text-size:29px;margin-left:60px;margin-right:60px;">Calculation:

</p>
<br>

				<p style="text-align:left;text-size:29px;margin-left:60px;margin-right:60px;">25 co-workers = 25*3 wireless devices (1 laptop, either 2 mobiles or 1 mobile + 1 ipad)

</p>
<br>

				<p style="text-align:left;text-size:29px;margin-left:60px;margin-right:60px;">Average speed required for a good surfing experience for each device = 200 kbps

</p>
<br>

				<p style="text-align:left;text-size:29px;margin-left:60px;margin-right:60px;">Hence, the internet speed connection should be = 200*75/1000 = 15 mbps

</p>
<br>

				<p style="text-align:left;text-size:29px;margin-left:60px;margin-right:60px;">Neither I am factoring in any super heavy usages from each user nor any internet usages from restaurant’s internet devices (for e.g. CCTV cameras, POS systems)

</p>
<br>

				<p style="text-align:left;text-size:29px;margin-left:60px;margin-right:60px;">If you are not able to find a good ISP in your area providing high-speeds then you would have no option other than taking multiple 2mbps or 4mbps plans but this will surely be costly and less economically viable for your business.</p>
<br>

				<p style="text-align:left;text-size:29px;margin-left:60px;margin-right:60px;">Also, expect some fluctuation and downtime in internet speed in regular intervals, hence it is always recommended to purchase a separate internet plan from a different internet service provider to ensure a backup but this will largely depend on the types of co-workers and availability of multiple ISPs at that location.</p>
<br>

				<p style="text-align:left;text-size:29px;margin-left:60px;margin-right:60px;">1. Don’t compromise on quality of wireless access points (normally called as “routers”) as cheap devices get rebooted often and spoil internet experience. If you would want to provide a seamless wireless experience (which I believe you should) to your co-workers then you should definitely hire a network expert to set up wireless architecture otherwise you would be hearing a lot of compliant from co-workers on “Wi-Fi not working properly?” We can help you with this “FREE OF COST” at FreeG WiFi
</p>
<br>

				<p style="text-align:left;text-size:29px;margin-left:60px;margin-right:60px;">2. Never keep your Wi-Fi open as it will attract free raiders from neighborhood  deteriorating internet experience to co-workers.</p>
<br>

				<p style="text-align:left;text-size:29px;margin-left:60px;margin-right:60px;">3. You should install a secured Wi-Fi hotspot system to ensure a controlled access to co-workers with proper authentication system. For example, there will always be one co-worker sitting in your café wanting to download 50GB of software, movies, and TV series online and if you have no control over individuals using your Wi-Fi then even if you take 100 mbps connection then also you won’t be able to provide a smooth browsing experience to all co-workers.</p>
<br>
			</div>
		</div>
	</div>

        <div id="fh5co-blog2" style="background-color:#F4F0EF">
		<div class="container">

			<div class="row text-center" style="margin-bottom:30px;margin-top:30px">
					<p style="color:#009245 !important ;font-size:30px">Interesting Blogs</p>
				</div>


			<div class="row">

				<!--{% for singleblog in allblogs%}-->
					<!--<div class="col-lg-4 col-md-4">-->
						<!--<div class="fh5co-blog animate-box">-->
							<!--<a ><img class="img-responsive" src= "{{singleblog.image}}" alt=""></a>-->
							<!--<div class="blog-text">-->
								<!--<h3 style="color:#009245 !important ">{{singleblog.title}}</h3>-->
								<!--<span class="posted_on">{{singleblog.date}}</span>-->
								<!--<span class="comment">{{singleblog.totalcomments}}<i class="icon-speech-bubble"></i></span>-->
								<!--<p>{{ singleblog.content|truncatechars:120 }}</p>-->
								<!--<a style="background-color:#009245 !important ;border:none" href="/web/singleblog/{{singleblog.id}}/" class="btn btn-primary">Read More</a>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--{% endfor %}-->

				<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a ><img class="img-responsive" src= "{{blog1image}}" alt=""></a>
							<div class="blog-text">
								<h3 style="color:#009245 !important ">10 Reasons why providing free wifi can be a game changer for your retail business in India?
</h3>
								<span class="posted_on">4 Apr 2017</span>
								<span class="comment">0<i class="icon-speech-bubble"></i></span>
								<p>Customers now expect free wifi everywhere they go and appreciate the venues which provide them un-interrupted free wifi access...</p>
								<a style="background-color:#009245 !important ;border:none" href="/web/singleblog1" class="btn btn-primary">Read More</a>
							</div>
						</div>
				</div>

				<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a ><img class="img-responsive" src= "{{blog2image}}" alt=""></a>
							<div class="blog-text">
								<h3 style="color:#009245 !important ">5 key learning from Google’s free wi-fi project at India’s railway stations
</h3>
								<span class="posted_on">4 Apr 2017</span>
								<span class="comment">0<i class="icon-speech-bubble"></i></span>
								<p>We just celebrated World WiFi Day on 20th June, 2016 with our new iconic township wifi project in Bangalore and the timely....</p>
								<a style="background-color:#009245 !important ;border:none" href="/web/singleblog2" class="btn btn-primary">Read More</a>
							</div>
						</div>
				</div>


				<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a ><img class="img-responsive" src= "{{blog3image}}" alt=""></a>
							<div class="blog-text">
								<h3 style="color:#009245 !important ">My advice to restaurants owners on data security
</h3>
								<span class="posted_on">4 Apr 2017</span>
								<span class="comment">0<i class="icon-speech-bubble"></i></span>
								<p>Restaurant industry is one of the favorite targets for cyber hackers as it involves millions of credit/debit card ...</p>
								<a style="background-color:#009245 !important ;border:none" href="/web/singleblog3" class="btn btn-primary">Read More</a>
							</div>
						</div>
				</div>

				<!--<div class="col-lg-4 col-md-4">-->
						<!--<div class="fh5co-blog animate-box">-->
							<!--<a ><img class="img-responsive" src= "{{blog4image}}" alt=""></a>-->
							<!--<div class="blog-text">-->
								<!--<h3 style="color:#009245 !important ">Co-working spaces in cafes/restaurants are trending - Are you one of them?-->
<!--</h3>-->
								<!--<span class="posted_on">4 Apr 2017</span>-->
								<!--<span class="comment">0<i class="icon-speech-bubble"></i></span>-->
								<!--<p>If you are one of the café/restaurant owners paying fixed rental for your cafes/restaurants but more than half of seats ....</p>-->
								<!--<a style="background-color:#009245 !important ;border:none" href="/web/singleblog4" class="btn btn-primary">Read More</a>-->
							<!--</div>-->
						<!--</div>-->
				<!--</div>-->



			</div>
		</div>
            <br><br><br><br>
	</div>

        <div id="fh5co-services-section"  style="background-color:#3B4C56">

            <div class="container" style="background-color:#3B4C56">
                <div class="row text-center"  style="background-color:#3B4C56">
                    <br><br>
                    <h3 style="color:#FFFFFF;">Understand how FreeG WiFi can help your business grow</h3>
                    <br><br>
                    <a style="background-color:#009245 !important ;border:none" href="/web/courses/1/" class="btn btn-primary">Know More</a>
                    <br><br>
                </div>
            </div>
		</div><!-- end: fh5co-services-section -->



	<footer id="fh5co-footer" role="contentinfo" style="background-color:#FFFFFF;height:450px;" >
		<div class="container">
			<div class="row">

				<div class="col-md-4 col-sm-12 col-xs-12  fh5co-widget" style="margin-top:12px;">
					<h4 style="color:#009245">Head Office</h4>
					<ul class="fh5co-footer-links">
						{% for single in headlist%}
							<a target="_blank" href = "https://www.google.com/maps/place/{{single.latitude}}+{{single.longitude}}/@{{single.latitude}},{{single.longitude}},10z">
							<li  style="color:#7F7F87"><i class="icon-location" style="color:#7F7F87 "></i> {{single.location}}</li>
                            </a>

							<li  style="color:#7F7F87 ;margin-top:12px"><i class="icon-mobile" style="color:#7F7F87 "></i> {{single.contact}}</li>
							<li style="color:#7F7F87 "><i class="icon-mail" style="color:#7F7F87 "></i> {{single.email}}</li>
						{% endfor%}
					</ul>

					<h4 style="color:#009245;margin-top:20px">E-Mail</h4>
					<ul class="fh5co-footer-links">
						<li >Sales: {{emailid}}</li>
						<li >Support: {{semailid}}</li>
					</ul>

				</div>

				<div class="col-md-4 col-sm-12 col-xs-12  fh5co-widget" style="margin-top:12px;">
					<h4 style="color:#009245">Branch Offices</h4>
					<ul class="fh5co-footer-links list-inline">
						{% for singleb in branchdata%}
							{% if forloop.last %}
                        	     <li >{{singleb.city}}</li>
							{% else%}
								<li >{{singleb.city}},</li>
                    		{% endif %}
							<!--<li ><i class="icon-mobile" ></i> {{singleb.contact}}</li>-->
							<!--<li ><i class="icon-mail" ></i> {{singleb.email}}</li>-->
						<!--<li style="text-size:15px"> {{singleb.city}} : {{singleb.contact}}/{{singleb.email}} </li>-->
						{% endfor%}
					</ul>


					<h4 style="color:#009245;margin-top:45px">Channel Partners</h4>
					<ul class="fh5co-footer-links list-inline">
						{% for singleb in channeldata%}
							{% if forloop.last %}
                        	     <li >{{singleb.city}}</li>
							{% else%}
								<li >{{singleb.city}},</li>
                    		{% endif %}

						{% endfor%}
					</ul>
				</div>

				<div class="col-md-2 col-sm-12 col-xs-12  fh5co-widget" style="margin-top:12px;">
					<h4 style="color:#009245">Resources</h4>
					<ul class="fh5co-footer-links">
						<li><a href="/web/blog">Blogs</a></li>
						<li><a href="/web/casestudy">Case Studies</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-12 col-xs-12 fh5co-widget" style="margin-top:12px;">
					<h4 style="color:#009245">Company</h4>
					<ul class="fh5co-footer-links">
						<li><a href="/web/aboutus">About Us</a></li>
						<li><a href="/web/career">Careers</a></li>
						<li><a href="/web/team">Team</a></li>
					</ul>
				</div>

			</div>

			<div class="row text-center"style="background-color:#;height:26px">
				<ul class="list-inline">
						<li><a target="_blank" href="{{facebook}}"><i class="icon-facebook" style="color:#009245"></i></a></li>
						<li><a target="_blank" href="{{linkedin}}"><i class="icon-linkedin" style="color:#009245"></i></a></li>
						<li><a target="_blank" href="{{instagram}}"><i style="color:#009245"class="icon-instagram"></i></a></li>
				</ul>
			</div>

			<div class="row text-center">
				<small class="block">&copy; 2017 FreeG WiFi All Rights Reserved.</small>
			</div>

		</div>
	</footer>




	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
		<!-- jQuery -->
	<script  src="{% static "js/jquery.min.js" %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static "js/jquery.easing.1.3.js" %}"></script>
	<!-- Bootstrap -->
	<script  src="{% static "js/bootstrap.min.js" %}"></script>
	<!-- Waypoints -->
	<script   src="{% static "js/jquery.waypoints.min.js" %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static "js/jquery.stellar.min.js" %}"></script>
	<!-- Carousel -->
	<script  src="{% static "js/owl.carousel.min.js" %}"></script>
	<!-- countTo -->
	<script src="{% static "js/jquery.countTo.js" %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
	<script src="{% static "js/magnific-popup-options.js" %}"></script>
	<!-- Main -->
	<script src="{% static "js/main.js" %}"></script>
	</body>
</html>

